In [126]:
import pandas as pd
import os
import re
import warnings
from decimal import Decimal#保证比例呈现两位小数
import tkinter as tk
from tkinter import filedialog
import keyboard
import sys
import numpy as np
from datetime import datetime
from docx import Document
from docx.enum.style import WD_STYLE_TYPE
# from docx.enum.text import WD_ALIGN_PARAGRAPH  #设置对象居中、对齐等。
# from docx.enum.text import WD_TAB_ALIGNMENT,WD_TAB_LEADER,WD_LINE_SPACING  #设置制表符等
# from docx.shared import Inches   #设置图像大小
from docx.shared import Pt,Cm   #设置像素、缩进等
# from docx.shared import RGBColor    #设置字体颜色
# from docx.shared import Length    #设置宽度
from docx.oxml.ns import qn  #设置中文版式
# from docx.enum.table import WD_TABLE_ALIGNMENT
# from docx.enum.text import WD_PARAGRAPH_ALIGNMENT
# from docx.enum.table import WD_ALIGN_VERTICAL
# from docx.enum.text import WD_ALIGN_PARAGRAPH
from datetime import datetime
warnings.filterwarnings('ignore')

# 读取excel

In [29]:
excel_path = '数据'
model_path = '模板'
file_names = os.listdir(excel_path)
file_names = [file for file in file_names if file.endswith(('.xlsx','.xls','.XLSX','.XLS'))]

In [11]:
data_group=[]
for file in file_names:
    file_path = os.path.join(excel_path, file)  # 构建文件的完整路径
    df = pd.read_excel(file_path)
    data_group.append(df)

In [12]:
key_group={}
for index in range(len(data_group)):
    key_group[data_group[index].columns[0]]=index

# 自定义函数

In [57]:
def xy(datat,x,x1,y):
    print(datat[datat[x]==x1][y].values[0])
    return datat[datat[x]==x1][y].values[0]

def change_to_decimal(x):
    return  str(Decimal(x*100).quantize(Decimal("0.00")))+'%'

# 数据处理

In [119]:
current_time = datetime.now()

year = current_time.year
month = current_time.month
day = current_time.day

In [25]:
title='各性别就业率'
data=data_group[key_group[title]]
data

,各性别就业率,专科毕业人数,专科就业人数,专科就业率,本科毕业人数,本科就业人数,本科就业率,硕士生毕业人数,硕士生就业人数,硕士生就业率,博士生毕业人数,博士生就业人数,博士生就业率,毕业人数小计,就业人数小计,就业率小计
0,1男,131270.0,106222.0,0.809187,93945.0,66858.0,0.711672,12528.0,9696.0,0.773946,1044.0,495.0,0.474138,238787.0,183271.0,0.767508
1,2女,127691.0,103863.0,0.813393,114085.0,77716.0,0.681211,15985.0,10051.0,0.628777,875.0,380.0,0.434286,258636.0,192010.0,0.742395
2,合计,258961.0,210085.0,0.811261,208030.0,144574.0,0.694967,28513.0,19747.0,0.692561,1919.0,875.0,0.455967,497423.0,375281.0,0.754450

In [71]:
bysrs=int(xy(data,title,'合计','毕业人数小计'))
qxlsl=change_to_decimal(xy(data,title,'合计','就业率小计'))
boy_qxlsl=change_to_decimal(xy(data,title,'1男','就业率小计'))
girl_qxlsl=change_to_decimal(xy(data,title,'2女','就业率小计'))

497423.0
0.7544504375551593
0.7675082814391068
0.7423947168994263

In [72]:
zk_bysrs=int(xy(data,title,'合计','专科毕业人数'))
zk_jyrs=int(xy(data,title,'合计','专科就业人数'))
zk_qxlsl=change_to_decimal(xy(data,title,'合计','专科就业率'))
zk_boy_qxlsl=change_to_decimal(xy(data,title,'1男','专科就业率'))
zk_girl_qxlsl=change_to_decimal(xy(data,title,'2女','专科就业率'))
bk_bysrs=int(xy(data,title,'合计','本科毕业人数'))
bk_jyrs=int(xy(data,title,'合计','本科就业人数'))
bk_qxlsl=change_to_decimal(xy(data,title,'合计','本科就业率'))
bk_boy_qxlsl=change_to_decimal(xy(data,title,'1男','本科就业率'))
bk_girl_qxlsl=change_to_decimal(xy(data,title,'2女','本科就业率'))
ss_bysrs=int(xy(data,title,'合计','硕士生毕业人数'))
ss_jyrs=int(xy(data,title,'合计','硕士生就业人数'))
ss_qxlsl=change_to_decimal(xy(data,title,'合计','硕士生就业率'))
ss_boy_qxlsl=change_to_decimal(xy(data,title,'1男','硕士生就业率'))
ss_girl_qxlsl=change_to_decimal(xy(data,title,'2女','硕士生就业率'))
bs_bysrs=int(xy(data,title,'合计','博士生毕业人数'))
bs_jyrs=int(xy(data,title,'合计','博士生就业人数'))
bs_qxlsl=change_to_decimal(xy(data,title,'合计','博士生就业率'))
bs_boy_qxlsl=change_to_decimal(xy(data,title,'1男','博士生就业率'))
bs_girl_qxlsl=change_to_decimal(xy(data,title,'2女','博士生就业率'))

258961.0
210085.0
0.8112611551546371
0.8091871714786318
0.8133932696901113
208030.0
144574.0
0.6949670720569149
0.7116717228165416
0.6812113774817022
28513.0
19747.0
0.6925612878336197
0.7739463601532567
0.6287769784172662
1919.0
875.0
0.4559666492965086
0.47413793103448276
0.4342857142857143

In [17]:
title='各生源地（省）就业率'
data=data_group[key_group[title]]
data.head()

,各生源地（省）就业率,专科毕业人数,专科就业人数,专科就业率,本科毕业人数,本科就业人数,本科就业率,硕士生毕业人数,硕士生就业人数,硕士生就业率,博士生毕业人数,博士生就业人数,博士生就业率,毕业人数小计,就业人数小计,就业率小计
0,11北京市,11.0,8.0,0.727273,309.0,193.0,0.624595,32.0,20.0,0.625000,11.0,3.0,0.272727,363.0,224.0,0.617080
1,12天津市,19.0,16.0,0.842105,1025.0,601.0,0.586341,71.0,42.0,0.591549,10.0,7.0,0.700000,1125.0,666.0,0.592000
2,13河北省,881.0,687.0,0.779796,3922.0,2627.0,0.669811,589.0,409.0,0.694397,36.0,11.0,0.305556,5428.0,3734.0,0.687915
3,14山西省,487.0,403.0,0.827515,2323.0,1585.0,0.682307,732.0,485.0,0.662568,36.0,16.0,0.444444,3578.0,2489.0,0.695640
4,15内蒙古自治区,486.0,357.0,0.734568,1566.0,1015.0,0.648148,177.0,118.0,0.666667,15.0,11.0,0.733333,2244.0,1501.0,0.668895

In [18]:
zk_hn_jybl=change_to_decimal(xy(data,title,'43湖南省','专科就业率'))
bk_hn_jybl=change_to_decimal(xy(data,title,'43湖南省','本科就业率'))
ss_hn_jybl=change_to_decimal(xy(data,title,'43湖南省','硕士生就业率'))
bs_hn_jybl=change_to_decimal(xy(data,title,'43湖南省','博士生就业率'))
hn_jybl=change_to_decimal(xy(data,title,'43湖南省','就业率小计'))

0.8154763180109957
0.7028209580508241
0.6611146250614941
0.46061814556331004
0.7674684994272624

In [19]:
title='就业地区东中西分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)
jydq1_name=data.loc[1][title]
jydq2_name=data.loc[2][title]
jydq3_name=data.loc[3][title]
jydq_bl1=change_to_decimal(data.loc[1][bl_name])
jydq_bl2=change_to_decimal(data.loc[2][bl_name])

In [20]:
title='就业地区省份分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)
jydqsf1_name=re.sub('\d','',data.loc[1][title])
jydqsf2_name=re.sub('\d','',data.loc[2][title])
jydqsf_bl1=change_to_decimal(data.loc[1][bl_name])
jydqsf_bl2=change_to_decimal(data.loc[2][bl_name])

In [21]:
title='就业单位性质分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)

jydwxz1_name=re.sub('\d','',data.loc[1][title])
jydwxz2_name=re.sub('\d','',data.loc[2][title])
jydwxz3_name=re.sub('\d','',data.loc[3][title])
jydwxz4_name=re.sub('\d','',data.loc[4][title])
jydwxz_bl1=change_to_decimal(data.loc[1][bl_name])
jydwxz_bl2=change_to_decimal(data.loc[2][bl_name])

In [22]:
title='职位类型分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)
# display(data)
jyzwlx1_name=re.sub('\d','',data.loc[1][title])
jyzwlx2_name=re.sub('\d','',data.loc[2][title])
jyzwlx_bl1=change_to_decimal(data.loc[1][bl_name])
jyzwlx_bl2=change_to_decimal(data.loc[2][bl_name])

In [23]:
title='就业单位行业分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)
# display(data)
jydwhy1_name=re.sub('\d','',data.loc[1][title])
jydwhy2_name=re.sub('\d','',data.loc[2][title])
jydwhy_bl1=change_to_decimal(data.loc[1][bl_name])
jydwhy_bl2=change_to_decimal(data.loc[2][bl_name])

# 替换word模板

In [154]:
document=Document(model_path+'/模板.docx')
replace_name=['year','month','day',
'bysrs',
 'qxlsl',
 'boy_qxlsl',
 'girl_qxlsl',
 'hn_jybl',
 'zk_bysrs',
 'zk_jyrs',
 'zk_qxlsl',
 'zk_boy_qxlsl',
 'zk_boy_qxlsl',
 'zk_hn_jybl',
 'bk_bysrs',
 'bk_jyrs',
 'bk_qxlsl',
 'bk_boy_qxlsl',
 'bk_boy_qxlsl',
 'bk_hn_jybl',
 'ss_bysrs',
 'ss_jyrs',
 'ss_qxlsl',
 'ss_boy_qxlsl',
 'ss_boy_qxlsl',
 'ss_hn_jybl',
 'bs_bysrs',
 'bs_jyrs',
 'bs_qxlsl',
 'bs_boy_qxlsl',
 'bs_boy_qxlsl',
 'bs_hn_jybl',
 'jydq1_name',
 'jydq_bl1',
 'jydq2_name',
 'jydq_bl2',
 'jydq3_name',
 'jydqsf1_name',
 'jydqsf_bl1',
 'jydqsf2_name',
 'jydqsf_bl2',
 'jydwxz1_name',
 'jydwxz_bl1',
 'jydwxz2_name',
 'jydwxz_bl2',
 'jydwxz3_name',
 'jydwxz4_name',
 'jyzwlx1_name',
 'jyzwlx_bl1',
 'jyzwlx2_name',
 'jyzwlx_bl2',
 'jydwhy1_name',
 'jydwhy_bl1',
 'jydwhy2_name',
 'jydwhy_bl2']

In [139]:
for j in range(len(document.paragraphs)):
    flag=False
    if len(document.paragraphs[j].runs)>0:#先获取run的格式，不然后面replace似乎就没有格式了
        fname=document.paragraphs[j].runs[0].font.name
        fsize=document.paragraphs[j].runs[0].font.size
    for i in replace_name:
        if '【'+i+'】' in document.paragraphs[j].text:
            flag=True
            document.paragraphs[j].text = document.paragraphs[j].text.replace('【'+i+'】',str(eval(i)))
    if flag:
        for run in document.paragraphs[j].runs:
            run.font.name=fname
            run._element.rPr.rFonts.set(qn('w:eastAsia'), fname)
            run.font.size=fsize

In [142]:
title='username'
data=data_group[key_group[title]][['qa3_1','qa3_2','qa5_1']]
data['qa3_1']=data['qa3_1'].apply(lambda x:x if x>0 else 0)
data['qa3_2']=data['qa3_2'].apply(lambda x:x if x>0 else 0)
data['qa5_1']=data['qa5_1'].apply(lambda x:x if x>0 else 0)
data['temp']=data['qa5_1'].apply(lambda x:1 if x>0 else 0)
xzjygw=int(sum(data['qa3_1'])+sum(data['qa3_2']))
sxsjjd=int(sum(data['temp']))
xjnsxs=int(sum(data['qa5_1']))

In [159]:
content=f"\t 八、 访企拓岗总体情况："
document.add_paragraph(content, style='CustomStyle2')
content=f"截至{year}年{month}月{day}日9点整，为促进20xx届毕业生就业，全省共有xxx所高校开展访企拓岗活动，已走访xxx家单位，促成企业新增就业岗位{xzjygw}个，新签订{sxsjjd}家实习实践基地、拟新接纳实习生{xjnsxs}人。"
document.add_paragraph(content, style='CustomStyle1')

In [160]:
document.save(f'高校毕业生就业数据分析简报.docx')

# 校招取数

In [180]:
import pymssql  
conn = pymssql.connect(server='39.104.209.155', user='sa', password='admin_0', database='hn_szx')
cursor = conn.cursor()

In [183]:
sql=''
cursor.execute(sql)

In [185]:
row = cursor.fetchall()
print(row

[(12772830113221, 'TS16819529639856D5', '测试支付回调4', '该功能', None, None, None, None, None, None, '22', None, None, None, '无', True, None, None, None, 'test', '-', '17792647761', 'dfhs@qq.com', '雁塔区15465461231', '', 'http://www.sina.cn', None, None, None, '17712345678', 'hr@qq.com', True, datetime.datetime(2026, 7, 9, 0, 0), 'http://campusdemo-pic.rendd.cn/company/login/2023-02-15/1676450607-8748.png', None, True, True, datetime.datetime(2023, 4, 20, 9, 9, 26, 993000), 0, None, '云校招授权登录', 2, False, False, None, datetime.datetime(2023, 4, 20, 9, 9, 30, 450000), None, None, None, None, None, False, None), (12773663988165, 'TS1681959452004EU0', '新草莓熊测试分公司', '', None, None, '23', '医疗卫生单位', None, None, '23', '电力、热力、燃气及水生产和供应业', '6', '5000以上', '50-100万', True, None, '610300', None, '测测', '-', '18419064256', 'wangxr@bibibi.net', '11', '', '', None, None, None, '18419064256', 'wangxr@bibibi.net', False, None, None, None, False, False, datetime.datetime(2023, 4, 20, 10, 57, 32, 3000), 0, None, '云校招授权登录', 2, False, False, None, datetime.datetime(2023, 4, 20, 10, 57, 32, 7000), datetime.datetime(2023, 6, 27, 21, 43, 9, 293000), None, None, 374438886654277, '测试', False, None)]

In [186]:
len(row)

2