In [2]:
import pandas as pd
import os
import re
import warnings
from decimal import Decimal#保证比例呈现两位小数
import tkinter as tk
from tkinter import filedialog
import keyboard
import sys
import numpy as np
# from docx import Document
# from docx.enum.text import WD_ALIGN_PARAGRAPH  #设置对象居中、对齐等。
# from docx.enum.text import WD_TAB_ALIGNMENT,WD_TAB_LEADER,WD_LINE_SPACING  #设置制表符等
# from docx.shared import Inches   #设置图像大小
# from docx.shared import Pt,Cm   #设置像素、缩进等
# from docx.shared import RGBColor    #设置字体颜色
# from docx.shared import Length    #设置宽度
# from docx.oxml.ns import qn  #设置中文版式
# from docx.enum.table import WD_TABLE_ALIGNMENT
# from docx.enum.text import WD_PARAGRAPH_ALIGNMENT
# from docx.enum.table import WD_ALIGN_VERTICAL
# from docx.enum.text import WD_ALIGN_PARAGRAPH
warnings.filterwarnings('ignore')

# 读取excel

In [8]:
folder_path = 'lib'
file_names = os.listdir(folder_path)
file_names = [file for file in file_names if file.endswith(('.xlsx','.xls','.XLSX','.XLS'))]

In [13]:
data_group=[]
for file in file_names:
    file_path = os.path.join(folder_path, file)  # 构建文件的完整路径
    df = pd.read_excel(file_path)
    data_group.append(df)

In [22]:
key_group={}
for index in range(len(data_group)):
    key_group[data_group[index].columns[0]]=index

# 自定义函数

In [38]:
def xy(datat,x,x1,y):
    print(datat[datat[x]==x1][y].values[0])
    return datat[datat[x]==x1][y].values[0]

def change_to_decimal(x):
    return  str(Decimal(x*100).quantize(Decimal("0.00")))+'%'

In [28]:
title='各性别就业率'
data=data_group[key_group[title]]
data

,各性别就业率,专科毕业人数,专科就业人数,专科就业率,本科毕业人数,本科就业人数,本科就业率,硕士生毕业人数,硕士生就业人数,硕士生就业率,博士生毕业人数,博士生就业人数,博士生就业率,毕业人数小计,就业人数小计,就业率小计
0,1男,131270,106222,0.809187,93945,66858,0.711672,12528,9696,0.773946,1044,495,0.474138,238787,183271,0.767508
1,2女,127691,103863,0.813393,114085,77716,0.681211,15985,10051,0.628777,875,380,0.434286,258636,192010,0.742395
2,合计,258961,210085,0.811261,208030,144574,0.694967,28513,19747,0.692561,1919,875,0.455967,497423,375281,0.754450

In [40]:
bysrs=xy(data,title,'合计','毕业人数小计')
qxlsl=change_to_decimal(xy(data,title,'合计','就业率小计'))
boy_qxlsl=change_to_decimal(xy(data,title,'1男','就业率小计'))
girl_qxlsl=change_to_decimal(xy(data,title,'2女','就业率小计'))

497423
0.7544504375551593
0.7675082814391068
0.7423947168994263

In [42]:
zk_bysrs=xy(data,title,'合计','专科毕业人数')
zk_jyrs=xy(data,title,'合计','专科就业人数')
zk_qxlsl=change_to_decimal(xy(data,title,'合计','专科就业率'))
zk_boy_qxlsl=change_to_decimal(xy(data,title,'1男','专科就业率'))
zk_girl_qxlsl=change_to_decimal(xy(data,title,'2女','专科就业率'))
bk_bysrs=xy(data,title,'合计','本科毕业人数')
bk_jyrs=xy(data,title,'合计','本科就业人数')
bk_qxlsl=change_to_decimal(xy(data,title,'合计','本科就业率'))
bk_boy_qxlsl=change_to_decimal(xy(data,title,'1男','本科就业率'))
bk_girl_qxlsl=change_to_decimal(xy(data,title,'2女','本科就业率'))
ss_bysrs=xy(data,title,'合计','硕士生毕业人数')
ss_jyrs=xy(data,title,'合计','硕士生就业人数')
ss_qxlsl=change_to_decimal(xy(data,title,'合计','硕士生就业率'))
ss_boy_qxlsl=change_to_decimal(xy(data,title,'1男','硕士生就业率'))
ss_girl_qxlsl=change_to_decimal(xy(data,title,'2女','硕士生就业率'))
bs_bysrs=xy(data,title,'合计','博士生毕业人数')
bs_jyrs=xy(data,title,'合计','博士生就业人数')
bs_qxlsl=change_to_decimal(xy(data,title,'合计','博士生就业率'))
bs_boy_qxlsl=change_to_decimal(xy(data,title,'1男','博士生就业率'))
bs_girl_qxlsl=change_to_decimal(xy(data,title,'2女','博士生就业率'))

258961
210085
0.8112611551546371
0.8091871714786318
0.8133932696901113

In [80]:
title='各生源地（省）就业率'
data=data_group[key_group[title]]
data.head()

,各生源地（省）就业率,专科毕业人数,专科就业人数,专科就业率,本科毕业人数,本科就业人数,本科就业率,硕士生毕业人数,硕士生就业人数,硕士生就业率,博士生毕业人数,博士生就业人数,博士生就业率,毕业人数小计,就业人数小计,就业率小计
0,11北京市,11,8,0.727273,309,193,0.624595,32,20,0.625000,11,3,0.272727,363,224,0.617080
1,12天津市,19,16,0.842105,1025,601,0.586341,71,42,0.591549,10,7,0.700000,1125,666,0.592000
2,13河北省,881,687,0.779796,3922,2627,0.669811,589,409,0.694397,36,11,0.305556,5428,3734,0.687915
3,14山西省,487,403,0.827515,2323,1585,0.682307,732,485,0.662568,36,16,0.444444,3578,2489,0.695640
4,15内蒙古自治区,486,357,0.734568,1566,1015,0.648148,177,118,0.666667,15,11,0.733333,2244,1501,0.668895

In [83]:
zk_hn_jybl=change_to_decimal(xy(data,title,'43湖南省','专科就业率'))
bk_hn_jybl=change_to_decimal(xy(data,title,'43湖南省','本科就业率'))
ss_hn_jybl=change_to_decimal(xy(data,title,'43湖南省','硕士生就业率'))
bs_hn_jybl=change_to_decimal(xy(data,title,'43湖南省','博士生就业率'))
hn_jybl=change_to_decimal(xy(data,title,'43湖南省','就业率小计'))

0.8154763180109957
0.7028209580508241
0.6611146250614941
0.46061814556331004
0.7674684994272624

In [69]:
title='就业地区东中西分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)
jydq1_name=data.loc[1][title]
jydq2_name=data.loc[2][title]
jydq3_name=data.loc[3][title]
jydq_bl1=change_to_decimal(data.loc[1][bl_name])
jydq_bl2=change_to_decimal(data.loc[2][bl_name])

In [77]:
title='就业地区省份分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)
jydqsf1_name=re.sub('\d','',data.loc[1][title])
jydqsf2_name=re.sub('\d','',data.loc[2][title])
jydqsf_bl1=change_to_decimal(data.loc[1][bl_name])
jydqsf_bl2=change_to_decimal(data.loc[2][bl_name])

In [87]:
title='就业单位性质分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)

jydwxz1_name=re.sub('\d','',data.loc[1][title])
jydwxz2_name=re.sub('\d','',data.loc[2][title])
jydwxz3_name=re.sub('\d','',data.loc[3][title])
jydwxz4_name=re.sub('\d','',data.loc[4][title])
jydwxz_bl1=change_to_decimal(data.loc[1][bl_name])
jydwxz_bl2=change_to_decimal(data.loc[2][bl_name])

In [93]:
title='职位类型分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)
# display(data)
jyzwlx1_name=re.sub('\d','',data.loc[1][title])
jyzwlx2_name=re.sub('\d','',data.loc[2][title])
jyzwlx_bl1=change_to_decimal(data.loc[1][bl_name])
jyzwlx_bl2=change_to_decimal(data.loc[2][bl_name])

           职位类型分布   各分部占比.4
0              合计  1.000000
1          90其他人员  0.273580
2        13工程技术人员  0.137244
3      29其他专业技术人员  0.119983
4          24教学人员  0.100825
5      40商业和服务业人员  0.084601
6     30办事人员和有关人员  0.076843
7      19卫生专业技术人员  0.052525
8   60生产和运输设备操作人员  0.040661
9        21经济业务人员  0.030110
10       22金融业务人员  0.022566
11          10公务员  0.010620
12     25文学艺术工作人员  0.009661
13           80军人  0.009569
14    17农林牧渔业技术人员  0.008499
15       11科学研究人员  0.006846
16       26体育工作人员  0.006408
17       23法律专业人员  0.005120
18  27新闻出版和文化工作人员  0.004340

In [94]:
title='就业单位行业分布'
bl_name='各分部占比.4'
data=data_group[key_group[title]][[title,bl_name]].sort_values(by=bl_name,ascending=False).reset_index(drop=True)
# display(data)
jydwhy1_name=re.sub('\d','',data.loc[1][title])
jydwhy2_name=re.sub('\d','',data.loc[2][title])
jydwhy_bl1=change_to_decimal(data.loc[1][bl_name])
jydwhy_bl2=change_to_decimal(data.loc[2][bl_name])

              就业单位行业分布   各分部占比.4
0                   合计  1.000000
1                22制造业  0.167799
2                 42教育  0.118383
3    34信息传输、软件和信息技术服务业  0.108305
4                24建筑业  0.096227
5             31批发和零售业  0.090271
6            43卫生和社会工作  0.064308
7          44文化、体育和娱乐业  0.048748
8           37租赁和商务服务业  0.047417
9      41居民服务、修理和其他服务业  0.037346
10        38科学研究和技术服务业  0.036520
11       32交通运输、仓储和邮政业  0.035154
12            33住宿和餐饮业  0.031218
13               35金融业  0.024996
14    45公共管理、社会保障和社会组织  0.021536
15  23电力、热力、燃气及水生产和供应业  0.021304
16          11农、林、牧、渔业  0.017634
17              36房地产业  0.010350
18                80军队  0.009630
19     39水利、环境和公共设施管理业  0.009397
20               21采矿业  0.003411
21                99其他  0.000026
22              46国际组织  0.000020

In [111]:
title='username'
data=data_group[key_group[title]][['qa3_1','qa3_2','qa5_1']]
data['qa3_1']=data['qa3_1'].apply(lambda x:x if x>0 else 0)
data['qa3_2']=data['qa3_2'].apply(lambda x:x if x>0 else 0)
data['qa5_1']=data['qa5_1'].apply(lambda x:x if x>0 else 0)
data['temp']=data['qa5_1'].apply(lambda x:1 if x>0 else 0)
xzjygw=int(sum(data['qa3_1'])+sum(data['qa3_2']))
sxsjjd=int(sum(data['temp']))
xjnsxs=int(sum(data['qa5_1']))

(3359, 80323)

# 草稿本

In [45]:
for i in [['bk','本科'],['ss','硕士生'],['bs','博士生']]:
#     print(f'''{i[0]}_bysrs=xy(data,title,'合计','{i[1]}毕业人数')
# {i[0]}_jyrs=xy(data,title,'合计','{i[1]}就业人数')
# {i[0]}_qxlsl=change_to_decimal(xy(data,title,'合计','{i[1]}就业率'))
# {i[0]}_boy_qxlsl=change_to_decimal(xy(data,title,'1男','{i[1]}就业率'))
# {i[0]}_girl_qxlsl=change_to_decimal(xy(data,title,'2女','{i[1]}就业率'))''')
    print(f'''{i[0]}毕业生共有【zk_bysrs】人，落实毕业去向【zk_jyrs】人，去向落实率为【zk_qxlsl】；男性毕业生就业率为【zk_boy_qxlsl】，女性毕业生就业率为【zk_boy_qxlsl】。在湘就业占总体就业率的【zk_hn_jybl】''')

bk_bysrs=xy(data,title,'合计','本科毕业人数')
bk_jyrs=xy(data,title,'合计','本科就业人数')
bk_qxlsl=change_to_decimal(xy(data,title,'合计','本科就业率'))
bk_boy_qxlsl=change_to_decimal(xy(data,title,'1男','本科就业率'))
bk_girl_qxlsl=change_to_decimal(xy(data,title,'2女','本科就业率'))
ss_bysrs=xy(data,title,'合计','硕士生毕业人数')
ss_jyrs=xy(data,title,'合计','硕士生就业人数')
ss_qxlsl=change_to_decimal(xy(data,title,'合计','硕士生就业率'))
ss_boy_qxlsl=change_to_decimal(xy(data,title,'1男','硕士生就业率'))
ss_girl_qxlsl=change_to_decimal(xy(data,title,'2女','硕士生就业率'))
bs_bysrs=xy(data,title,'合计','博士生毕业人数')
bs_jyrs=xy(data,title,'合计','博士生就业人数')
bs_qxlsl=change_to_decimal(xy(data,title,'合计','博士生就业率'))
bs_boy_qxlsl=change_to_decimal(xy(data,title,'1男','博士生就业率'))
bs_girl_qxlsl=change_to_decimal(xy(data,title,'2女','博士生就业率'))

In [50]:
for i in [['bk','本科'],['ss','硕士生'],['bs','博士生']]:
    print(f'''  {i[1]}毕业生共有【{i[0]}_bysrs】人，落实毕业去向【{i[0]}_jyrs】人，去向落实率为【{i[0]}_qxlsl】；男性毕业生就业率为【{i[0]}_boy_qxlsl】，女性毕业生就业率为【{i[0]}_boy_qxlsl】。在湘就业占总体就业率的【{i[0]}_hn_jybl】。''')

  本科毕业生共有【bk_bysrs】人，落实毕业去向【bk_jyrs】人，去向落实率为【bk_qxlsl】；男性毕业生就业率为【bk_boy_qxlsl】，女性毕业生就业率为【bk_boy_qxlsl】。在湘就业占总体就业率的【bk_hn_jybl】。
  硕士生毕业生共有【ss_bysrs】人，落实毕业去向【ss_jyrs】人，去向落实率为【ss_qxlsl】；男性毕业生就业率为【ss_boy_qxlsl】，女性毕业生就业率为【ss_boy_qxlsl】。在湘就业占总体就业率的【ss_hn_jybl】。
  博士生毕业生共有【bs_bysrs】人，落实毕业去向【bs_jyrs】人，去向落实率为【bs_qxlsl】；男性毕业生就业率为【bs_boy_qxlsl】，女性毕业生就业率为【bs_boy_qxlsl】。在湘就业占总体就业率的【bs_hn_jybl】。