# 导入模块

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import re
import datetime
import lxk

# 连数据库

In [2]:
engine = create_engine("mysql+pymysql://yjy_user:Yjy123456@am-wz9el267w54i2r7ip131930o.ads.aliyuncs.com:3306/yun-campusjob")
conn = engine.connect()

# 参数和自定义函数

In [3]:
quan_dict = {
'zyz':1.52,
'grxx':0.17,
'qzyx':0.25,
'jyjl':0.19,
'grpj':5.45,
'gzxx':0.78,
'gzjl':64.27,
'zyjn':4.17,
'zs':15.81,
'xnzw':3.71,
'grzp':3.71
}

In [4]:
gzjl_list=['控制', '系统', 'PPT', '活动', '负责', '达成', '持续', '会议', '核心', '运营', '回归', '成立', '执行', '目标', '年度', '对接', '业务', '进行', '统筹', '赛事', '达到', '审核', '提升', '总结', '设计', '领先', '分析', '应用', '进展', '需求', '测试', '记录', '优化', '自动', '升级', '月均', '解决', '情况', '涉及', '文档', '原理', '降低', '工作', '工具', '会场', '录入', '完成', '开发', '功能', '生产', '剪辑', '作图', '通话', '管控', '运用', '反应', '操作', '数据', '创作', '对比', '缺陷', '行为', '后期', '报告', '熟悉', '视频', '项目', '利用', '梳理', '抓包', '编写', '画图', '宣传', '设备', '监督', '确保', '客户端', '框架', '文章', '参加', '收集', '季度', '管理', '协助', '升高', '提交', '处理', '组织', '独立', '专业', '使用', '制作', '度量', '研究', '拍摄', '客户', '学习', '竞争', '业绩', '说明', '日均', '指标', '制度', '结构', '针对', '完成率', '集成', '规定']

In [5]:
grpj_list =['grpj','随和','强','积极','开朗','勤奋','上进','良好','认真','细心','用心','主动','乐观','执着','敢于','敏锐','团队','合作','负责','社会责任感','坚毅不拔','吃苦耐劳','挑战','压力','素质']

In [6]:
def is_null(x):
    if x is None:
        return 0
    if isinstance(x,int) or isinstance(x,datetime.date):
        return 1
    if isinstance(x,float):
        if x!=np.nan:
            return 1
        else:
            return 0
    if x=='无' or '没有' in x or re.findall('^\s*$',x):
        return 0
    return 1

In [7]:
def words_count(x,list_x):
    if is_null(x)==0:
        return 0
    count = 0
    for key in list_x:
        if key in x:
            count+=1
    if list_x[0] == 'grpj':
        return min(round(count/2),7)
    return min(count,30)

In [8]:
def length(x):
    if is_null(x)==0:
        return 0
    if len(x)==0:
        return 0
    if len(x)<40:
        return 3
    if len(x)<45:
        return 7
    else:
        return 11

In [9]:
def position_score(x):
    if is_null(x)==0:
        return 0
    if '干事' in x:
        return 3
    if '部长' in x:
        return 4
    if '主席' in x or '会长' in x:
        return 5
    return 2

In [10]:
def hasNum(x):
    if is_null(x)==0:
        return 0
    if re.findall('\d',x) or '%' in x:
        return 7
    return 0

# 取数

In [11]:
sql ='''
SELECT j.xm,j.graduate_year, j.zy, j.szyx, a.*, b.attachment_num, c.city, c.job, c.work_type, c.industry, d.company_name, d.start_date, d.experience_description, e.certificate_num, f.degree,g.skill, g.introduction, h.honor_name, i.position FROM
(SELECT school_id, student_key,resume_id,head_url,CONCAT(mobile,email) as momail,birthday,sex,start_work_year,expected_salary_min,percent_complete FROM `s_resume_basics`
where school_id=2537 and is_delete = 0 and is_default = 1) a
LEFT JOIN(
SELECT resume_id,count(*) as attachment_num FROM `s_resume_attachment`
GROUP BY resume_id) b ON a.resume_id = b.resume_id
LEFT JOIN(
SELECT resume_id,MAX(case intention_name when 'city' then intention_value else '' end) as city,
MAX(case intention_name when 'job' then intention_value else '' end) as job,
MAX(case intention_name when 'work_type' then intention_value else '' end) as work_type,
MAX(case intention_name when 'industry' then intention_value else '' end) as industry
FROM `s_resume_intention`
GROUP BY resume_id) c ON a.resume_id = c.resume_id
LEFT JOIN(SELECT resume_id,max(company_name) as company_name,max(start_date) as start_date ,max(experience_description) as experience_description FROM `s_resume_work_experience` group by resume_id) d
ON a.resume_id = d.resume_id
LEFT JOIN(
SELECT resume_id,count(*) as certificate_num FROM `s_resume_certificate` e
GROUP BY resume_id) e ON a.resume_id = e.resume_id
LEFT JOIN(
SELECT resume_id,degree FROM `s_resume_education` f
GROUP BY resume_id) f ON a.resume_id = f.resume_id
LEFT JOIN(
SELECT resume_id,(case attr_name when 'skill_desc' then attr_value else '' end) as skill,(case attr_name when 'introduction' then attr_value else '' end) as introduction FROM `s_resume_attribute` g
GROUP BY resume_id) g ON a.resume_id = g.resume_id
LEFT JOIN(
SELECT resume_id,honor_name FROM `s_resume_honor` h
GROUP BY resume_id) h ON a.resume_id = h.resume_id
LEFT JOIN(
SELECT resume_id,position FROM `s_resume_leadership_position` i
GROUP BY resume_id) i ON a.resume_id = i.resume_id
JOIN sch_school_student j ON a.student_key = j.student_key
WHERE j.is_delete = 0
'''
data = pd.read_sql_query(sql,conn)

# 计算各项评分并乘以权重

In [12]:
data['zyz'] = data.apply(lambda row: 5*is_null(row['head_url']), axis=1)
data['grxx'] = data.apply(lambda row: is_null(row['momail'])+is_null(row['birthday'])+is_null(row['sex'])+is_null(row['start_work_year'])+is_null(row['expected_salary_min'])+is_null(row['city']), axis=1)
data['qzyx'] = data.apply(lambda row: 5*is_null(row['job'])+2.5*is_null(row['work_type'])+2.5*is_null(row['industry']), axis=1)
data['jyjl'] = data.apply(lambda row: 5*is_null(row['degree']), axis=1)
data['grpj'] = data.apply(lambda row: words_count(row['introduction'],grpj_list), axis=1)
data['gzxx'] = data.apply(lambda row: 5*is_null(row['company_name'])+5*is_null(row['start_date']), axis=1)
data['gzjl'] = data.apply(lambda row: length(row['experience_description'])+words_count(row['experience_description'],gzjl_list)+hasNum(row['experience_description']), axis=1)
data['zyjn'] = data.apply(lambda row: 10*is_null(row['skill']), axis=1)
data['zs'] = data.apply(lambda row: 5*is_null(row['certificate_num'])+5*is_null(row['honor_name']), axis=1)

data['xnzw'] = data.apply(lambda row: position_score(row['position']), axis=1)
data['grzp'] = data.apply(lambda row: 10*is_null(row['attachment_num']), axis=1)

# 计算排名

In [13]:
data['score'] = 0
for key in quan_dict:
    data['score']+=data.apply(lambda x: x[key]*quan_dict[key],axis=1)
max_score = max(data['score'])
min_score = min(data['score'])
data['score'] = round(100*((data['score']-min_score+10)/(max_score-min_score+200)*0.6+0.4),2)

In [14]:
data.to_excel('简历分数.xlsx')