# 备忘录

In [ ]:
# 湖北省拆分
# songkaiwen
# 报表

# 练习

## 教育行业匹配

In [102]:
db = sqlalchemy.create_engine(f"mysql+pymysql://yjy_user:Yjy123456@am-wz9el267w54i2r7ip131930o.ads.aliyuncs.com:3306/standard_code")
sql='select xxmc from dim_school'
data3=pd.read_sql(con=db,sql=sql)

In [100]:
db = sqlalchemy.create_engine(f"mysql+pymysql://yjy_user:Yjy123456@am-wz9el267w54i2r7ip131930o.ads.aliyuncs.com:3306/yun-campusjob")
sql="select dwmc from sch_school_student_employment where is_delete=0 and school_id=2512 and dwhy='教育'"
data11=pd.read_sql(con=db,sql=sql)

In [106]:
group=[]
for  i in list(data11['dwmc']):
    if i not in group1 and '学' in i:
        group.append(i)

In [108]:
data1['dwmc']

0            庆城县教育局
1       和政县教育和科学技术局
2            渭源县幼儿园
3            东乡县教育局
4         东乡族自治县教育局
           ...
2410        积石山县教育局
2411      乌鲁木齐市米泉中学
2412        嘉峪关市教育局
2413          宜川县中学
2414      金昌市金川高级中学
Name: dwmc, Length: 2415, dtype: object

In [101]:
data2=pd.read_excel('E:/桌面/教育行业.xlsx')

In [105]:
group1 = list(data2['school_name'])+list(data3['xxmc'])

## pdf读取

In [16]:
import pdfplumber
import pandas as pd
import re
import xlwings as xw
import pyperclip
import keyboard
import time
path='E:/企业微信/WXWork/1688858245380311/Cache/File/2023-05/兰州理工大学2018年度本科毕业生就业质量年度报告.pdf'
def get_pdf_page(page_num):
    text = ''
    with pdfplumber.open(path) as pdf:      
        first_page = pdf.pages[page_num-1]
        #有方框的才能提取表格
        return first_page.extract_tables()

In [32]:
data=get_pdf_page(17)
data[0]

[['', '专业名称', '', '', '就业率（%）', '', '', '就业的毕业生人数（人）', ''],
 ['', '工程造价', '', '', '98', '', '', '56', ''],
 ['', '电气工程及其自动化（两年制）', '', '', '98', '', '', '55', ''],
 ['', '功能材料', '', '', '98', '', '', '52', ''],
 ['', '环境工程', '', '', '98', '', '', '50', ''],
 ['', '材料成型及控制工程（铸造方向）', '', '', '98', '', '', '44', ''],
 ['', '本校平均', '', '', '97.0', '', '', '5397', ''],
 ['', '过程装备与控制工程', '', '', '97', '', '', '154', ''],
 ['', '焊接技术与工程', '', '', '97', '', '', '117', ''],
 ['', '冶金工程', '', '', '97', '', '', '102', ''],
 ['', '工业工程', '', '', '97', '', '', '61', ''],
 ['', '市场营销', '', '', '97', '', '', '58', ''],
 ['', '电气工程及其自动化（四年制）', '', '', '97', '', '', '34', ''],
 ['', '信息管理与信息系统', '', '', '97', '', '', '30', ''],
 ['', '计算机科学与技术', '', '', '96', '', '', '161', ''],
 ['', '通信工程', '', '', '96', '', '', '125', ''],
 ['', '机械电子工程', '', '', '96', '', '', '113', ''],
 ['', '软件工程', '', '', '96', '', '', '102', ''],
 ['', '应用物理', '', '', '96', '', '', '54', ''],
 ['', '工业设计', '', '', '96', '', '', '54', ''],
 ['', '工程力学', '', '', '95', '', '', '56', ''],
 ['', '国际经济与贸易', '', '', '95', '', '', '54', ''],
 ['', '会计学', '', '', '94', '', '', '118', ''],
 ['', '金属材料工程', '', '', '94', '', '', '113', ''],
 ['', '高分子材料与工程', '', '', '94', '', '', '58', ''],
 ['', '生物工程', '', '', '94', '', '', '29', ''],
 ['', '化学工程与工艺', '', '', '92', '', '', '81', ''],
 ['', '制药工程', '', '', '91', '', '', '96', ''],
 ['', '法学', '', '', '90', '', '', '62', ''],
 ['', '知识产权', '', '', '90', '', '', '55', ''],
 ['', '材料成型及控制工程', '', '', '90', '', '', '28', ''],
 ['', '物联网工程', '', '', '89', '', '', '51', ''],
 ['', '材料成型及控制工程（塑性方向）', '', '', '88', '', '', '68', ''],
 ['', '金融学', '', '', '88', '', '', '56', ''],
 ['', '新能源科学与工程（两年制）', '', '', '76', '', '', '37', '']]

In [31]:
import xlwings

def open_excel(path):
    app = xw.App(visible=True, add_book=False)
    wb = app.books.open('E:/桌面/lxk2.xlsx')
pd.DataFrame(data[0]).to_excel('E:/桌面/lxk2.xlsx')
open_excel('E:/桌面/lxk2.xlsx')

## 拆分

In [234]:
for index,i in enumerate(group):
    if 'dw_viewmark_91job' in i[2]:print(i,index)

['dw浏览人次信息总表', 'dw_viewmark_91job_new', 'replace into dw_viewmark_91job_new\r\nselect typeid,type,status,sum(count) as count\r\nfrom clf_university_data\r\ngroup by typeid,type,status;'] 17
['dw宣讲会信息总表', 'dw_teachin_all_91job_new', "replace into dw_teachin_all_91job_new\r\nSELECT\r\n a.xid,\r\n a.STATUS,\r\n a.author_type,\r\n a.author,\r\n a.author_typeid,\r\n a.universityname,\r\n a.universityprovince,\r\n a.universitycity,\r\n universitycategory,\r\n a.universitycode,\r\n a.company_id,\r\n a.company_name,\r\n a.industry,\r\n a.company_category,\r\n a.nature,\r\n a.scale,\r\n a.dw_province,\r\n a.dw_city,\r\n a.college,\r\n a.college_id,\r\n a.city,\r\n a.address,\r\n a.starttime,\r\n a.endtime,\r\n a.dateline,\r\n a.updateline,\r\n a.cancel,\r\n a.common_id,\r\n a.sign_type_relationid,\r\n a.is_war_industry,\r\n a.type,\r\n ifnull( b.count, 0 ) AS bm_count,\r\n ifnull( c.count, 0 ) AS ll_count,\r\n sum(if(ifnull( a.jobid, 0 )=0,0,1)) AS job_num,\r\n sum(ifnull( a.num, 0 ) ) AS num,\r\n sum(ifnull( a.apply_num, 0 )) AS apply_num,\r\n ifnull( d.apply_pp_num, 0 )  AS apply_pp_num,\r\n sum(ifnull( a.collect_num, 0 )) AS collect_num,\r\n sum(ifnull( a.invite_num, 0 )) AS invite_num,\r\n  sum(ifnull( b.count, 0 ) + ifnull( a.apply_num, 0 )) AS attend_num \r\nFROM\r\n dw_teachin_job_91job_new a\r\nleft join (select id,sum(count) as count from clf_count_teachin group by id) b on a.xid=b.id\r\nleft join (select typeid,sum(count) as count from dw_viewmark_91job_new where type='3' group by typeid) c on a.xid=c.typeid\r\nleft join (select xid,count(distinct uid) as apply_pp_num from dw_teachin_bookjob_91job_new where is_apply=1 group by xid) d on a.xid=d.xid\r\n GROUP BY a.xid\r\n\r\n"] 18
['dw招聘公告信息总表', 'dw_campus_all_91job_new', "REPLACE INTO dw_campus_all_91job_new \r\nSELECT\r\na.pid,\r\na.STATUS,\r\na.author_typeid,\r\na.universityname,\r\na.universityprovince,\r\na.universitycity,\r\na.universitycategory,\r\na.universitycode,\r\na.author_type,\r\na.author,\r\na.title,\r\na.starttime,\r\na.endtime,\r\na.dateline,\r\na.updateline,\r\na.company_name,\r\na.industry,\r\na.nature,\r\na.scale,\r\na.company_category,\r\na.company_id,\r\na.province,\r\na.city,\r\nifnull( b.count, 0 ) AS sc_count,\r\nifnull( c.count, 0 ) AS ll_count,\r\nifnull( count( a.jobid ), 0 ) AS job_num,\r\nsum( ifnull( a.num, 0 ) ) AS num,\r\nSUM( ifnull( a.apply_num, 0 ) ) AS apply_num,\r\nifnull( d.apply_pp_num, 0 ) AS apply_pp_num,\r\nsum( ifnull( a.collect_num, 0 ) ) AS collect_num,\r\nsum( ifnull( a.invite_num, 0 ) ) AS invite_num,\r\na.school_status AS school_status\r\nFROM\r\n dw_campus_job_91job_new a\r\n LEFT JOIN ( SELECT id, sum( count ) AS count FROM clf_count_campus GROUP BY id ) b ON a.pid = b.id\r\n LEFT JOIN ( SELECT typeid, sum( count ) AS count FROM dw_viewmark_91job_new WHERE type = '4' GROUP BY typeid ) c ON a.pid = c.typeid\r\n LEFT JOIN ( SELECT pid, count( DISTINCT uid ) AS apply_pp_num FROM dw_campus_bookjob_91job_new WHERE is_apply = 1 GROUP BY pid ) d ON a.pid = d.pid \r\nGROUP BY\r\na.pid,\r\na.STATUS,\r\na.author_typeid,\r\na.universityname,\r\na.universityprovince,\r\na.universitycity,\r\na.universitycategory,\r\na.universitycode,\r\na.author_type,\r\na.author,\r\na.title,\r\na.starttime,\r\na.endtime,\r\na.dateline,\r\na.updateline,\r\na.company_name,\r\na.industry,\r\na.nature,\r\na.scale,\r\na.company_category,\r\na.company_id,\r\na.province,\r\na.city,\r\nifnull( b.count, 0 ),\r\nifnull( c.count, 0 ),\r\nifnull( d.apply_pp_num, 0 ),\r\na.school_status;"] 19

In [152]:
import pyautogui
import pyperclip
import re
while True:
    keyboard.wait('ctrl')
    pyautogui.hotkey('ctrl','a')
    pyautogui.hotkey('ctrl','c')
    x=pyperclip.paste()
    keyboard.wait('ctrl')
    pyautogui.hotkey('ctrl','a')
    pyautogui.hotkey('ctrl','c')
    y=pyperclip.paste()
    y1=re.findall('replace into (.*?_new)',y,re.I)
    z=y1 and y1[0] or 'xxxxxx'
    group1.append([x,z,y])

KeyboardInterrupt:

In [205]:
for i in group_xieru[4:]:
    for j in i:
        keyboard.wait('ctrl')
        pyperclip.copy(re.sub('_new','',group[j][1]))
        pyautogui.hotkey('ctrl','a')
        pyautogui.hotkey('ctrl','v')

In [206]:
while True:
    click_image('D:/AutoClickPicture/temp/1.png')

KeyboardInterrupt:

In [194]:
for j in group_xieru2[13:]:
    for i in j:
        if isinstance(i,list):
            a=pyautogui.alert()
            click_image('D:/AutoClickPicture/temp/3.png')
            keyboard.wait('f2')
            pyautogui.hotkey('ctrl','a')
            x=i[0]
            pyperclip.copy(x)
            pyautogui.hotkey('ctrl','v')
            click_image('D:/AutoClickPicture/temp/1.png')
            keyboard.wait('f2')
            x=i[2]
            pyperclip.copy(x)
            pyautogui.hotkey('ctrl','v')
            click_image('D:/AutoClickPicture/temp/2.png')
            click_image('D:/AutoClickPicture/temp/3.png')
        else:
            keyboard.wait('f2')
            pyautogui.hotkey('ctrl','a')
            x=group[i][0]
            pyperclip.copy(x)
            pyautogui.hotkey('ctrl','v')
            click_image('D:/AutoClickPicture/temp/1.png')
            keyboard.wait('f2')
            x=group[i][2]
            pyperclip.copy(x)
            pyautogui.hotkey('ctrl','v')
            click_image('D:/AutoClickPicture/temp/2.png')

In [184]:
from PIL import Image
from PIL import ImageGrab
def click_image(image_path, confidence=0.95, lag_x=0,lag_y=0,wait=0.2, double=False):
    # 获取屏幕分辨率
    screen_width, screen_height = pyautogui.size()

    # 全屏截图
    screen_image = ImageGrab.grab()

    # 在屏幕截图中查找匹配
    image=Image.open(image_path)
    location = pyautogui.locate(image, screen_image, confidence=confidence)
    if location:
        time.sleep(wait)
        location = pyautogui.locate(image, screen_image, confidence=confidence)
        # 匹配成功，返回位置信息
        x, y, a, b = location
        if double==False:
            pyautogui.click(x+a//2+lag_x, y+b//2+lag_y)
        else:
            pyautogui.doubleClick(x+a//2+lag_x, y+b//2+lag_y)

In [ ]:
group_xieru2=[]
for i in group_xieru:
    for j in i:
        temp=[j]
        for k in group1:
            if group[j][1] in k[2]:
                temp.append(k)
        group_xieru2.append(temp)

In [178]:
group_xieru2[0]

[0,
 ['st注册单位统计表',
  'st_company_all_91job_new',
  'replace into st_company_all_91job_new\r\nselect companyid,company_name,province,city,industry,company_category,nature,scale,global_company,china_company,status,universityid,1 as num,register_time\r\nfrom dw_company_all_91job_new;'],
 ['st单位登录统计表',
  'st_log_ulogin_91job_new',
  'replace into st_log_ulogin_91job_new\r\nSELECT\r\n\ta.companyid,\r\n\tb.company_name,\r\n\tb.industry,\r\n\tb.nature,\r\n\tb.company_category,\r\n\tb.scale,\r\n\tb.province,\r\n\tb.city,\r\n\ta.universityid,\r\na1.universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\n\tFROM_UNIXTIME( a.lasttime ) AS lasttime \r\nFROM\r\n\tclf_company_belongs a\r\n\tLEFT JOIN dw_company_all_91job_new b ON a.companyid = b.companyid\r\n\t\r\n LEFT JOIN dw_university_info_new a1  ON a.universityid = a1.VALUE\r\n\t\r\nWHERE\r\n\ta.companyid IS NOT NULL \r\n\tAND a.lasttime IS NOT NULL \r\nORDER BY\r\n\ta.lasttime DESC;']]

In [241]:
for i in [12,15,20]:
    print(group[i][0],group[i][1])

dw招聘会职位信息总表 dw_jobfair_job_91job_new
dw招聘会职位申请信息总表 dw_jobfair_bookjob_91job_new
dw招聘会信息总表 dw_jobfair_all_91job_new

In [166]:
group

[['dw注册单位信息总表',
  'dw_company_all_91job_new',
  "replace into dw_company_all_91job_new\r\nSELECT\r\n a.companyid,\r\n a.company_name,\r\n a.email,\r\n i.sfmc AS province,\r\n i.sqmc AS city,\r\n d.zh AS industry,\r\n f.zh AS company_category,\r\n g.zh AS nature,\r\n h.zh AS scale,\r\n IF( j.wdtop != '', '世界500强', '' ) AS global_company,\r\n IF( k.cntop != '', '中国500强', '' ) AS china_company,\r\n b.linkman,\r\n b.contact,\r\n b.corporation,\r\n FROM_UNIXTIME( b.register_time ) AS register_time,\r\n b.register_fund,\r\n b.organization_code,\r\n '' as uid,\r\n'' as username,\r\n a.STATUS,\r\n a.universityid \r\nFROM\r\n clf_company_all a\r\n LEFT JOIN clf_company_all_more b ON a.companyid = b.companyid\r\n LEFT JOIN clf_data_industry2 d ON a.d_industry = d.VALUE\r\n LEFT JOIN clf_data_companycategory f ON a.d_category = f.VALUE\r\n LEFT JOIN clf_data_nature g ON a.d_nature = g.VALUE\r\n LEFT JOIN clf_data_scale h ON a.d_scale = h.VALUE\r\n LEFT JOIN dim_space_qx i ON a.city = i.qxdm\r\n LEFT JOIN dim_company_label_91job j ON a.company_name = j.wdtop\r\n LEFT JOIN dim_company_label_91job k ON a.company_name = k.cntop"],
 ['dw入驻单位信息总表',
  'dw_company_belongs_91job_new',
  "replace into dw_company_belongs_91job_new\r\nselect null,a.universityid,if(c.yxmc is null,'湖北高校就业网络联盟',c.yxmc) as universityname,c.yxszsf as universityprovince,c.yxszs as universitycity,c.yxfl as universitycategory,c.yxdm as universitycode,a.companyid,b.company_name,b.province,b.city,b.industry,b.company_category,b.nature,b.scale,FROM_UNIXTIME(a.verifytime) AS verifytime,a.status\r\nfrom clf_company_belongs a\r\ninner join (select companyid,company_name,province,city,industry,company_category,nature,scale from dw_company_all_91job_new) b on a.companyid=b.companyid\r\nleft join (select a.value,e.code as yxdm,a.zh as yxmc,c.yxfl,d.sfmc as yxszsf,d.sqmc as yxszs from clf_data_university a left join clf_university e on a.value=e.universityid left join (select yxdm,yxmc,yxfldm,yxszdqdm from yxdm2 where nd=(select max(nd) from yxdm2)) b on e.code=b.yxdm left join yxfldm2 c on b.yxfldm=c.yxfldm left join dim_space_qx d on b.yxszdqdm=d.qxdm) c on a.universityid=c.value\r\nleft JOIN clf_university d ON a.universityid = d.universityid\r\ninner JOIN clf_university_company f on a.companyid= f.companyid\r\nwhere b.companyid IS NOT NULL and f.companyid IS NOT NULL and f.universityid=0\r\n"],
 ['dw职位信息总表',
  'dw_job_all_91job_new',
  "replace into dw_job_all_91job_new\r\nSELECT\r\n a.jobid,\r\n a.companyid,\r\n b.company_name,\r\n b.province,\r\n b.city,\r\n b.industry,\r\n b.company_category,\r\n b.nature,\r\n b.scale,\r\n a.job_name,\r\n a.type,\r\n d.zh AS skill,\r\n m.sfmc AS sjgzsf,\r\n m.sqmc AS sjgzcs,\r\n m.qxmc AS sjgzqx,\r\n f.zh AS category,\r\n g.zh AS salary,\r\n c.num,\r\n h.zh AS age,\r\n i.zh AS education,\r\n j.zh AS work_years,\r\n k.zh AS lang,\r\n c.yearly_salary,\r\n a.d_major,\r\n FROM_UNIXTIME( a.dateline ) AS dateline,\r\n FROM_UNIXTIME( a.updatetime ) AS updatetime,\r\n a.author_typeid,\r\n a.universityid,\r\nif(a1.universityname is null,'湖北高校就业网络联盟',a1.universityname) as universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\n a.STATUS,\r\n a.author_type \r\nFROM\r\n clf_job_all a\r\n LEFT JOIN  dw_company_all_91job_new b ON a.companyid = b.companyid\r\n LEFT JOIN clf_job_all_more c ON a.jobid = c.jobid\r\n LEFT JOIN clf_data_skill3 d ON a.d_skill = d.VALUE\r\n  LEFT JOIN clf_job_university e ON a.jobid = e.jobid\r\n LEFT JOIN clf_data_category f ON a.d_category = f.VALUE\r\n LEFT JOIN clf_data_salary g ON a.d_salary = g.VALUE\r\n LEFT JOIN clf_data_age h ON c.d_age = h.VALUE\r\n LEFT JOIN clf_data_education i ON c.d_education = i.VALUE\r\n LEFT JOIN clf_data_experience j ON c.d_work_years = j.VALUE\r\n LEFT JOIN clf_data_lang k ON c.d_lang = k.VALUE\r\n \r\n LEFT JOIN dw_university_info_new a1  ON ifnull(e.universityid,a.author_typeid) = a1.VALUE\r\nLEFT JOIN dim_space_qx m ON a.city = m.qxdm"],
 ['dw学生用户信息总表',
  'dw_user_member_91job_new',
  "replace into dw_user_member_91job_new\r\nSELECT\r\n a.id,\r\n a.universityid,\r\n\r\nif(a1.universityname is null,'湖北高校就业网络联盟',a1.universityname) as universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\n a.sid,\r\n concat( '20', a.grade ) AS graduate_year,\r\n c.zh AS class,\r\n d.zh AS department,\r\nIF\r\n ( a.major = '60010100', h.zh, e.zh ) AS major,\r\n f.NAME AS education,\r\n a.realname,\r\nIF\r\n ( a.STATUS = 1, '已激活', '未激活' ) AS STATUS,\r\n g.cxsy,\r\n g.xb,\r\n g.mz,\r\n g.zzmm,\r\n g.sfslb,\r\n trim( g.knslb ),\r\n g.jzbf,\r\n trim( g.yxdwxz ),\r\n trim( g.yxdwhy ),\r\n trim( g.yxzwlb ),\r\n trim( g.yxyx ),\r\n g.yxsfmc,\r\n g.yxcsmc,\r\n g.yxqxmc,\r\n j.ydyl,\r\n j.ygadwq,\r\n j.cjjjd,\r\n j.dzxbdq,\r\n j.jjj,\r\n j.zsj,\r\n j.csj,\r\n g.sysfmc,\r\n g.sycsmc,\r\n g.syqxmc \r\nFROM\r\n clf_user_member a\r\n \r\n LEFT JOIN dw_university_info_new a1  ON a.universityid = a1.VALUE\r\n LEFT JOIN clf_university_class c ON a.\r\nVALUE\r\n = c.\r\nVALUE\r\n \r\n AND a.universityid = c.universityid \r\n AND a.grade = c.grade\r\n LEFT JOIN clf_university_class d ON substr( a.VALUE, 1, 3 ) = d.\r\nVALUE\r\n \r\n AND a.universityid = d.universityid \r\n AND a.grade = d.grade\r\n LEFT JOIN clf_university_class e ON substr( a.VALUE, 1, 6 ) = e.\r\nVALUE\r\n \r\n AND a.universityid = e.universityid \r\n AND a.grade = e.grade\r\n LEFT JOIN clf_major_province h ON a.\r\nVALUE\r\n = h.\r\nVALUE\r\n \r\n AND a.grade = h.grade\r\n LEFT JOIN clf_university_education f ON a.education = f.\r\nVALUE\r\n \r\n AND a.universityid = f.universityid\r\n LEFT JOIN dw_university_sinfo_91job_new g ON a.universityid = g.universityid \r\n AND a.sid = g.sid\r\n LEFT JOIN dim_space_sf j ON g.yxsfmc = j.sfmc \r\nWHERE\r\n a.deny = 0 \r\n AND a.grade > 0 \r\nAND a.grade < 99"],
 ['dw职位申请信息总表',
  'dw_bookjob_91job_new',
  "replace into dw_bookjob_91job_new\r\n\r\nSELECT\r\n a.id,\r\n a.uid,\r\n a.jid,\r\n a.cid,\r\n FROM_UNIXTIME( a.favorite_time ) AS favorite_time,\r\n FROM_UNIXTIME( a.apply_time ) AS apply_time,\r\n a.is_apply,\r\n a.r_company_name AS company_name,\r\n b.province,\r\n b.city,\r\n b.industry,\r\n b.nature,\r\n b.company_category,\r\n b.scale,\r\n a.r_job_name AS jobname,\r\n c.sjgzsf,\r\n c.sjgzcs,\r\n c.sjgzqx,\r\n c.type,\r\n c.skill,\r\n c.dateline,\r\n c.updatetime,\r\n d.universityid,\r\nif(a1.universityname is null,'湖北高校就业网络联盟',a1.universityname) as universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\n d.sid,\r\nIF\r\n ( d.realname IS NULL, f.realname, d.realname ),\r\n d.graduate_year,\r\n d.education,\r\n d.department,\r\n d.major,\r\n d.class,\r\n a.resumeid,\r\n a.isread,\r\n a.STATUS,\r\n a.from_type,\r\n a.from_id,\r\n if( a.is_apply = 1,1,0 ) AS apply_num,\r\n if( a.is_collect = 1 ,1,0 ) AS collect_num,\r\n if(a.is_invite = 1 ,1,0 ) AS invite_num,\r\n if(a.is_apply = 1,1,0  ) AS apply_pp_num \r\nFROM\r\n clf_bookjob a\r\n LEFT JOIN dw_company_all_91job_new b ON a.cid = b.companyid\r\n LEFT JOIN dw_job_all_91job_new c ON a.jid = c.jobid\r\n LEFT JOIN dw_user_member_91job_new d ON a.uid = d.id\r\n LEFT JOIN clf_user_member f ON a.uid = f.id\r\n  LEFT JOIN dw_university_info_new a1  ON a.universityid = a1.VALUE\r\n"],
 ['dw生源和就业方案信息总表',
  'dw_university_sinfo_91job_new',
  "replace into dw_university_sinfo_91job_new\r\nSELECT\r\n null,concat( '20', a.grade ) AS years,\r\n a.id,\r\n a.universityid,\r\nif(a1.universityname is null,'湖北高校就业网络联盟',a1.universityname) as universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\n x.yxdwxz,\r\n w.yxdwhy,\r\n y.yxzwlb,\r\n z.yxyx,\r\n f.sfmc AS sysfmc,\r\n f.sqmc AS sycsmc,\r\n f.qxmc AS syqxmc,\r\n g.sfmc AS yxsfmc,\r\n g.sqmc AS yxcsmc,\r\n g.qxmc AS yxqxmc,\r\n v.cxsy,\r\n a.sid,\r\n a.ksh,\r\n a.identitycode,\r\n a.realname,\r\n m.xb,\r\n t.mz,\r\n u.zzmm,\r\n n.xl,\r\n a.rxsj,\r\n a.graduate_year,\r\n p.sfslb,\r\n q.knslb,\r\n a.jzbf,\r\n a.byqx,\r\n d.jylb,\r\n h.jyzk,\r\n a.verify,\r\n a.sinfo_verify,\r\n a.sinfo_nverify,\r\n a.sinfo_sbzt,\r\n a.jinfo_verify,\r\n a.jinfo_nverify,\r\n a.jinfo_sbzt \r\nFROM\r\n clf_university_sinfo a\r\n \r\n \r\n LEFT JOIN dw_university_info_new a1  ON a.universityid = a1.VALUE\r\n LEFT JOIN dim_space_qx f ON a.student_in_3 = f.qxdm\r\n LEFT JOIN dim_space_qx g ON a.yxdq_3 = g.qxdm\r\n LEFT JOIN xbdm2 m ON a.gender = m.xbdm\r\n LEFT JOIN xldm2 n ON a.xl = n.xldm\r\n LEFT JOIN sfslbdm2 p ON a.sfslbdm = p.sfslbdm\r\n LEFT JOIN knslbdm2 q ON a.knslbdm = q.knslbdm\r\n LEFT JOIN mzdm2 t ON a.mz = t.mzdm\r\n LEFT JOIN zzmmdm2 u ON a.political = u.zzmmdm\r\n LEFT JOIN cxsydm2 v ON a.city_countryside = v.cxsydm\r\n LEFT JOIN yxdwhydm2 w ON substr( a.yxdwhy, 1, 1 ) = w.yxdwhydm\r\n LEFT JOIN yxdwxzdm2 x ON a.yxdwxz = x.yxdwxzdm\r\n LEFT JOIN yxzwlbdm2 y ON a.yxzwlb = y.yxzwlbdm\r\n LEFT JOIN yxyxdm2 z ON a.yxyx = z.yxyxdm\r\n LEFT JOIN jylbdm2 d ON a.jylb = d.jylbdm\r\nLEFT JOIN jyzkdm2 h ON a.jyzk = h.jyzkdm"],
 ['dw签约信息总表',
  'dw_electronic_all_91job_new',
  'replace into dw_electronic_all_91job_new\r\nSELECT\r\n a.id,\r\n a.universityid,\r\n IF ( a1.zh IS NULL, \'湖北高校就业网络联盟\', a1.zh ) AS universityname,\r\n d1.sfmc AS universityprovince,\r\n d1.sqmc AS universitycity,\r\n c1.yxfl AS universitycategory,\r\n e1.CODE AS universitycode,\r\n a.sid,\r\n b.realname,\r\n a.companyid,\r\n a.userid,\r\n a.way_type,\r\n a.identity_code,\r\n a.company_name,\r\nIF\r\n (\r\n a.sign_city_3 != "",\r\n a.sign_city_3,\r\nIF\r\n ( a.city_3 != "", a.city_3, a.dispatch_city_3 ) \r\n ) AS work_dqdm,\r\n c.sfmc AS work_sf,\r\n c.sqmc AS work_cs,\r\n c.qxmc AS work_qx,\r\n a.company_organization_code,\r\n d.nature AS company_nature,\r\n d.industry AS company_industry,\r\n d.company_category,\r\n d.scale AS company_scale,\r\n a.company_skill,\r\n a.company_linkman,\r\n d.province,\r\n d.city,\r\n a.sign_job,\r\n a.sign_penalty,\r\n a.sign_try_salary,\r\n a.sign_official_salary,\r\nCASE\r\n \r\n WHEN a.sign_check_status = 1 \r\n AND ( a.rescind_check_status != 1 OR a.rescind_check_status IS NULL ) THEN\r\n \'已签约\' \r\n  WHEN a.rescind_check_status = 1 THEN\r\n  \'已解约\' ELSE NULL \r\n  END AS sign_status,\r\nIF\r\n ( a.sign_type = \'offline\', \'线下签约\',if(a.sign_type=\'online\', \'线上签约\',\'空白协议书\' )) AS sign_type,\r\n FROM_UNIXTIME( a.action_time ) AS action_time,\r\n FROM_UNIXTIME( a.sign_time ) AS sign_time,\r\nb.graduate_year as years,\r\n b.department,\r\n b.class,\r\n b.xb,\r\n b.education,\r\n b.major,\r\n b.sfslb AS sfsfbz,\r\n b.sfslb,\r\n b.knslb,\r\n \'\' AS pyfs,\r\n \'\' AS dxlb,\r\n b.mz,\r\n b.zzmm,\r\n b.cxsy,\r\n b.jzbf AS jzbfdxbz \r\nFROM\r\n clf_electronic_all a\r\n LEFT JOIN dw_user_member_91job_new b ON a.userid = b.id\r\n LEFT JOIN dim_space_qx c ON\r\nIF\r\n (\r\n  a.sign_city_3 != "",\r\n  a.sign_city_3,\r\n IF\r\n  ( a.city_3 != "", a.city_3, a.dispatch_city_3 ) \r\n ) = c.qxdm\r\n LEFT JOIN dw_company_all_91job_new d ON a.companyid = d.companyid\r\n LEFT JOIN clf_data_university a1  ON a.universityid = a1.VALUE\r\n LEFT JOIN clf_university e1 ON a1. VALUE = e1.universityid\r\n LEFT JOIN yxdm2 b1 ON e1.CODE = b1.yxdm and b1.nd = ( SELECT max( nd ) FROM yxdm2 )\r\n LEFT JOIN yxfldm2 c1 ON b1.yxfldm = c1.yxfldm\r\n LEFT JOIN dim_space_qx d1 ON b1.yxszdqdm = d1.qxdm'],
 ['dw管理员信息总表',
  'dw_user_university_91job_new',
  "REPLACE INTO dw_user_university_91job_new \r\nSELECT\r\na.id,\r\na.username,\r\na.realname,\r\na.department,\r\na.sectorvalue,\r\na.education,\r\na.tel,\r\na.superadmin,\r\na.counsellor,\r\na.manager,\r\na.scope,\r\na.email,\r\na.belongs,\r\nIF ( a1.zh IS NULL, '湖北高校就业网络联盟', a1.zh ) AS universityname,\r\ne1.code AS universitycode,\r\na. VALUE ,\r\na.apprbac,\r\na.weixin_bind,\r\na.job,\r\na.bgdh,\r\na.weixin,\r\na.qq,\r\na.lasttime,\r\na.lastip \r\nFROM\r\nclf_user_university a\r\nLEFT JOIN clf_data_university a1 ON a.belongs = a1.VALUE\r\nLEFT JOIN clf_university e1 ON a1.VALUE = e1.universityid\r\n"],
 ['dw招聘会信息表',
  'dw_jobfair_common_91job_new',
  "replace into dw_jobfair_common_91job_new\r\nSELECT\r\n a.jid,\r\n d.lfid,\r\n e.NAME,\r\n a.STATUS,\r\n a.author_typeid,\r\nif(a1.universityname is null,'湖北高校就业网络联盟',a1.universityname) as universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\nCASE\r\n WHEN a.type = 1 THEN\r\n '社会招聘会' \r\n WHEN a.type = 2 THEN\r\n '校园招聘会' \r\n WHEN a.type = 3 THEN\r\n '无' \r\n WHEN a.type = 4 THEN\r\n '网络招聘会' \r\n WHEN a.type = 5 THEN\r\n '组团招聘会' \r\n WHEN a.type = 6 THEN\r\n '其他'\r\n END AS type,\r\n a.title,\r\n c.address,\r\n FROM_UNIXTIME( a.starttime ),\r\n FROM_UNIXTIME( a.dateline ),\r\n FROM_UNIXTIME( a.updateline ),\r\n a.large_sponsor,\r\n a.large_undertake,\r\n a.author_type,\r\nCASE\r\n  WHEN a.author_typeid = 0 \r\n  AND a.relation_university = 0 THEN\r\n   '省级招聘会' \r\n   WHEN a.author_typeid = 0 \r\n   AND a.relation_university != 0 THEN\r\n    '省校联办招聘会' ELSE '学校自办招聘会' \r\n   END AS LEVEL,\r\n   a.is_largefairs,\r\n   d.count \r\n  FROM\r\n  (select * from clf_jobfair_all where title not like '%测试%' ) a\r\n LEFT JOIN dw_university_info_new a1  ON a.author_typeid = a1.VALUE\r\nLEFT JOIN clf_jobfair_address c ON a.address = c.id\r\nLEFT JOIN(select * from clf_university_largefairs where title not like '%测试%' ) d ON a.jid = d.jid\r\nLEFT JOIN clf_university_sector e ON a.sectorid = e.id;"],
 ['dw招聘会参与单位信息总表',
  'dw_jobfair_company_91job_new',
  "replace into dw_jobfair_company_91job_new\r\n\r\nSELECT\r\n c.jid,\r\n a.lfid,\r\n c.title,\r\n a.companyid,\r\n a.company_name,\r\n a.STATUS,\r\n b.industry,\r\n b.nature,\r\n b.company_category,\r\n b.scale,\r\n b.province,\r\n b.city,\r\n a.universityid,\r\n a1.universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\nfrom_unixtime(a.dateline,'%Y-%m-%d') as time,\r\nc.type as type,\r\nc.level as level,\r\nc.starttime,\r\nc.large_sponsor\r\nFROM\r\n clf_university_largefairs_stands a\r\n LEFT JOIN dw_company_all_91job_new b ON a.companyid = b.companyid\r\n LEFT JOIN dw_jobfair_common_91job_new c ON a.lfid = c.lfid\r\n \r\n LEFT JOIN dw_university_info_new a1  ON a.universityid = a1.VALUE\r\n \r\nWHERE\r\n a.STATUS = 1"],
 ['dw招聘公告职位信息总表',
  'dw_campus_job_91job_new',
  "replace into dw_campus_job_91job_new\r\n\r\nSELECT\r\n a.pid,\r\n a.STATUS,\r\n a.author_typeid,\r\nif(h.universityid = 0,'海洋大学',a1.universityname) as universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\n a.author_type,\r\n a.author,\r\n a.title,\r\n FROM_UNIXTIME( a.starttime ) AS starttime,\r\n FROM_UNIXTIME( a.endtime ) AS endtime,\r\n FROM_UNIXTIME( a.dateline ) AS dateline,\r\n FROM_UNIXTIME( a.updateline ) AS updateline,\r\n g.sjgzsf,\r\n g.sjgzcs,\r\n g.sjgzqx,\r\n a.cityValues,\r\n a.company_name,\r\n f.industry,\r\n f.province,\r\n f.city,\r\n f.nature,\r\n f.scale,\r\n f.company_category AS category,\r\n a.company_id,\r\n c.jobid,\r\n g.num,\r\n b.apply_num,\r\n b.apply_pp_num,\r\n b.collect_num,\r\n b.invite_num,\r\n h.status as school_status\r\nFROM\r\n clf_campus_all a\r\n LEFT JOIN clf_jobmarket_relation_job c ON a.pid = c.objid  AND c.type = 'campus'\r\n LEFT JOIN (\r\nSELECT DISTINCT\r\n jid,\r\n sum( apply_num ) AS apply_num,\r\n sum( apply_pp_num ) AS apply_pp_num,\r\n sum( collect_num ) AS collect_num,\r\n sum( invite_num ) AS invite_num \r\nFROM\r\n dw_bookjob_91job_new \r\nGROUP BY\r\n jid \r\n ) b ON b.jid = c.jobid\r\n  INNER JOIN clf_university_data h ON a.pid = h.typeid AND h.type = 4\r\n  LEFT JOIN dw_university_info_new a1  ON h.universityid = a1.VALUE\r\n LEFT JOIN dw_company_all_91job_new f ON a.company_id = f.companyid\r\n LEFT JOIN dw_job_all_91job_new g ON c.jobid = g.jobid\r\n WHERE a1.value != 2418;"],
 ['dw宣讲会职位信息总表',
  'dw_teachin_job_91job_new',
  "replace into dw_teachin_job_91job_new\r\n\r\nSELECT\r\n a.xid,\r\n a.STATUS,\r\n a.author_type,\r\n a.author,\r\n a.author_typeid,\r\nif(a1.universityname is null,'湖北高校就业网络联盟',a1.universityname) as universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\n a.company_id,\r\n a.company_name,\r\n f.province,\r\n f.city,\r\n f.industry,\r\n f.company_category,\r\n f.nature,\r\n f.scale,\r\n a.college,\r\n a.college_id,\r\n a.city,\r\n g.address,\r\n FROM_UNIXTIME( a.starttime ) AS starttime,\r\n a.endtime,\r\n FROM_UNIXTIME( a.dateline ) AS dateline,\r\n FROM_UNIXTIME( a.updateline ) AS updateline,\r\n a.cancel,\r\n a.common_id,\r\n a.sign_type_relationid,\r\n a.is_war_industry,\r\n a.type,\r\n c.jobid,\r\n f1.sjgzsf,\r\n f1.sjgzcs,\r\n f1.sjgzqx,\r\n f1.num,\r\n b.apply_num,\r\n b.apply_pp_num,\r\n b.collect_num,\r\n b.invite_num \r\nFROM\r\n clf_teachin_all a\r\n LEFT JOIN clf_jobmarket_relation_job c ON a.xid = c.objid \r\n AND c.type = 'teachin'\r\n LEFT JOIN (\r\nSELECT DISTINCT\r\n jid,\r\n sum( apply_num ) AS apply_num,\r\n sum( apply_pp_num ) AS apply_pp_num,\r\n sum( collect_num ) AS collect_num,\r\n sum( invite_num ) AS invite_num \r\nFROM\r\n dw_bookjob_91job_new \r\nGROUP BY\r\n jid \r\n ) b ON b.jid = c.jobid\r\n \r\n  LEFT JOIN dw_university_info_new a1  ON a.author_typeid = a1.VALUE\r\n LEFT JOIN dw_company_all_91job_new f ON a.company_id = f.companyid\r\n LEFT JOIN clf_teachin_address g ON a.address = g.id\r\n LEFT JOIN dw_job_all_91job_new f1 ON c.jobid = f1.jobid\r\n INNER JOIN clf_university_data h ON a.author_typeid = h.universityid \r\n AND a.xid = h.typeid \r\nAND h.type = 3"],
 ['dw招聘会职位信息总表',
  'dw_jobfair_job_91job_new',
  'replace into dw_jobfair_job_91job_new\r\n\r\nSELECT\r\n b.jid,\r\n a.lfid,\r\n b.sector,\r\n b.title,\r\n b.type,\r\n b.author_type,\r\n b.STATUS,\r\n b.author_typeid,\r\n b.universityname,\r\n b.universityprovince,\r\n b.universitycity,\r\n b.universitycategory,\r\n b.universitycode,\r\n a.companyid,\r\n f.company_name,\r\n f.province,\r\n f.city,\r\n f.industry,\r\n f.company_category,\r\n f.nature,\r\n f.scale,\r\n b.starttime,\r\n b.updateline,\r\n b.dateline,\r\n b.large_sponsor,\r\n b.large_undertake,\r\n b.LEVEL,\r\n a.jid AS jobid,\r\n g.sjgzsf,\r\n g.sjgzcs,\r\n g.sjgzqx,\r\n a.nums,\r\n c.apply_num,\r\n c.apply_pp_num,\r\n c.collect_num,\r\n c.invite_num \r\nFROM\r\n clf_university_largefairs_stands_job a\r\n INNER JOIN clf_university_largefairs_stands d ON a.lfid = d.lfid  AND a.companyid = d.companyid  AND d.STATUS = 1\r\n LEFT JOIN dw_jobfair_common_91job_new b ON a.lfid = b.lfid\r\n LEFT JOIN (\r\n  SELECT DISTINCT\r\n   jid,\r\n   sum( apply_num ) AS apply_num,\r\n   sum( apply_pp_num ) AS apply_pp_num,\r\n   sum( collect_num ) AS collect_num,\r\n   sum( invite_num ) AS invite_num \r\n  FROM\r\n   dw_bookjob_91job_new \r\n  GROUP BY\r\n   jid \r\n ) c ON a.jid = c.jid\r\n LEFT JOIN dw_company_all_91job_new f ON a.companyid = f.companyid\r\n LEFT JOIN dw_job_all_91job_new g ON a.jid = g.jobid '],
 ['dw宣讲会职位申请信息总表',
  'dw_teachin_bookjob_91job_new',
  'replace into dw_teachin_bookjob_91job_new\r\nSELECT\r\n b.universityname,\r\n b.xid AS xid,\r\n a.uid,\r\n a.jid,\r\n a.cid,\r\n a.favorite_time,\r\n a.apply_time,\r\n a.is_apply,\r\n a.companyname,\r\n a.province,\r\n a.city,\r\n a.industry,\r\n a.nature,\r\n a.company_category,\r\n a.scale,\r\n a.jobname,\r\n a.type,\r\n a.skill,\r\n a.dateline,\r\n a.sjgzsf,\r\n a.sjgzcs,\r\n a.sjgzqx,\r\n a.universityid,\r\n a.universityname,\r\n a.universityprovince,\r\n a.universitycity,\r\n a.universitycategory,\r\n a.universitycode,\r\n a.sid,\r\n a.realname,\r\n a.graduate_year,\r\n a.education,\r\n a.department,\r\n a.major,\r\n class,\r\n a.resumeid,\r\n a.isread,\r\n a.STATUS \r\nFROM\r\n dw_bookjob_91job_new a\r\n INNER JOIN dw_teachin_job_91job_new b ON a.jid = b.jobid;'],
 ['dw招聘公告职位申请信息总表',
  'dw_campus_bookjob_91job_new',

In [161]:
for i in range(26):
    flag=0
    for j in range(26):
        if b[i,j]==1 or b[j,i]==1:
            flag=1
    if flag==0:print(i)

7
21
22

In [235]:
group1

[['st注册单位统计表',
  'st_company_all_91job_new',
  'replace into st_company_all_91job_new\r\nselect companyid,company_name,province,city,industry,company_category,nature,scale,global_company,china_company,status,universityid,1 as num,register_time\r\nfrom dw_company_all_91job_new;'],
 ['st活动报名统计表',
  'st_lecture_91job_new',
  'replace into st_lecture_91job_new\r\nselect id,name,talker,address,begin_time,hours,dateline,universityid,universityname,universitycode,updatetime,count,organizers,num,starttime,endtime,undertake \r\nfrom dw_lecture_91job_new;'],
 ['st平台文章统计表',
  'st_new',
  'replace into st_news_article_title_91job_new\r\nselect cid,catname,aid,title,author_typeid,universityname,universityprovince,universitycity,universitycategory,universitycode,dateline,viewCount,status\r\nfrom dw_news_article_title_91job_new;'],
 ['st微信就业核查统计表',
  'st_formal_insp_91job_new',
  'replace into st_formal_insp_91job_new\r\nselect universityid,grade,universityname,universitycode,department,major,num,ybdwx,wbdwx,fqhc,yhc,dhc,qkss,xlgwjy,yhjydw,wjy,\r\nsxhwjy,qtqk,insp_dateline\r\nfrom dw_formal_insp_91job_new;'],
 ['st入驻单位统计表',
  'st_company_belongs_91job_new',
  "replace into st_company_belongs_91job_new\r\nselect universityid,universityname,universityprovince,universitycity,universitycategory,universitycode,companyid,company_name,province,city,industry,company_category,nature,scale,verifytime,\r\ncase when status = 0 then '待审核' when status = 1 then '审核通过' when status = 2 then '审核未通过' else status end as status,ifnull(count(1),0) as num\r\nfrom dw_company_belongs_91job_new\r\ngroup by universityid,companyid;"],
 ['st生源信息统计表',
  'st_user_member_91job_new',
  'replace into st_user_member_91job_new\r\nselect null,universityid,universityname,universityprovince,universitycity,universitycategory,universitycode,graduate_year,class,department,major,education,1 as num,status,cxsy,xb,mz,zzmm,\r\nsfslb,knslb,jzbf,yxdwxz,yxdwhy,yxzwlb,yxyx,yxsfmc,yxcsmc,yxqxmc,ydyl,ygadwq,cjjjd,dzxbdq,jjj,zsj,csj,sysfmc,sycsmc,syqxmc\r\nfrom dw_user_member_91job_new \r\n'],
 ['st学生登录统计表',
  'st_log_slogin_91job_new',
  "replace into st_log_slogin_91job_new\r\nSELECT\r\n a.universityid,\r\nif(a1.universityname is null,'湖北高校就业网络联盟',a1.universityname) as universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\n a.uid,\r\n a.realname,\r\n c.department,\r\n c.major,\r\n c.xb,\r\n a.time \r\nFROM\r\n clf_log_slogin a\r\n \r\n LEFT JOIN dw_university_info_new a1  ON a.universityid = a1.VALUE\r\n LEFT JOIN dw_user_member_91job_new c ON a.uid = c.id \r\nWHERE\r\nYEAR ( a.time ) = YEAR ( now( ) );"],
 ['st单位登录统计表',
  'st_log_ulogin_91job_new',
  'replace into st_log_ulogin_91job_new\r\nSELECT\r\n\ta.companyid,\r\n\tb.company_name,\r\n\tb.industry,\r\n\tb.nature,\r\n\tb.company_category,\r\n\tb.scale,\r\n\tb.province,\r\n\tb.city,\r\n\ta.universityid,\r\na1.universityname,\r\na1.universityprovince,\r\na1.universitycity,\r\na1.universitycategory,\r\na1.universitycode,\r\n\tFROM_UNIXTIME( a.lasttime ) AS lasttime \r\nFROM\r\n\tclf_company_belongs a\r\n\tLEFT JOIN dw_company_all_91job_new b ON a.companyid = b.companyid\r\n\t\r\n LEFT JOIN dw_university_info_new a1  ON a.universityid = a1.VALUE\r\n\t\r\nWHERE\r\n\ta.companyid IS NOT NULL \r\n\tAND a.lasttime IS NOT NULL \r\nORDER BY\r\n\ta.lasttime DESC;'],
 ['st职位申请统计表',
  'st_bookjob_91job_new',
  'replace into st_bookjob_91job_new\r\nSELECT\r\n universityid,\r\n universityname,\r\n universityprovince,\r\n universitycity,\r\n universitycategory,\r\n universitycode,\r\n jid,\r\n cid,\r\n graduate_year,\r\n education,\r\n department,\r\n major,\r\n class,\r\n sum( apply_num ) AS apply_num,\r\n sum( apply_pp_num ) AS apply_pp_num,\r\n sum( collect_num ) AS collect_num,\r\n companyname,\r\n industry,\r\n nature,\r\n company_category AS category,\r\n scale,\r\n province,\r\n city,\r\n jobname,\r\n type,\r\n skill,\r\n sjgzsf,\r\n sjgzcs,\r\n sjgzqx,\r\n sum( invite_num ) AS invite_num,\r\n STATUS,\r\n from_type,\r\n from_id,\r\n dateline,\r\n apply_time,\r\n updatetime\r\nFROM\r\n dw_bookjob_91job_new \r\nGROUP BY\r\n universityid,\r\n jid,\r\n cid'],
 ['st签约统计表',
  'st_electronic_all_91job_new',
  'replace into st_electronic_all_91job_new\r\nselect universityid,universityname,universityprovince,universitycity,universitycategory,universitycode,companyid,way_type,company_name,work_sf,work_cs,work_qx,company_nature,company_industry,\r\ncompany_category,company_scale,company_skill,sign_official_salary,sign_status,sign_type,years,department,class,xb,xl,zy,sfsfbz,sfslb,knslb,pyfs,dxlb,mz,zzmm,cxsy,jzbfdxbz,action_time,count(sid) as num\r\nfrom dw_electronic_all_91job_new\r\ngroup by universityid,universityname,universityprovince,universitycity,universitycategory,universitycode,companyid,way_type,company_name,work_sf,work_cs,work_qx,\r\ncompany_nature,company_industry,company_category,company_scale,company_skill,sign_official_salary,sign_status,sign_type,years,department,class,xb,xl,zy,sfsfbz,sfslb,knslb,\r\npyfs,dxlb,mz,zzmm,cxsy,jzbfdxbz,action_time'],
 ['st管理员统计表',
  'st_user_university_91job_new',
  "replace into st_user_university_91job_new\r\nselect id,username,realname,department,tel,if(superadmin=0,'普通用户','超级管理员') as superadmin,if(counsellor=1,'辅导员','') as counsellor,if(manager=1,'院系负责人','') as manager,belongs,universityname,\r\nuniversitycode,lasttime\r\nfrom dw_user_university_91job_new;\r\n"],
 ['st招聘会参与单位统计表',
  'st_jobfair_company_91job_new',
  "replace into st_jobfair_company_91job_new\r\nSELECT\r\n a.jid,\r\n a.lfid,\r\n a.title,\r\n a.companyid,\r\n a.company_name,\r\n a.STATUS,\r\n a.industry,\r\n a.nature,\r\n a.company_category,\r\n a.scale,\r\n a.province,\r\n a.city,\r\n a.universityid,\r\n a.universityname,\r\n a.universityprovince,\r\n a.universitycity,\r\n a.universitycategory,\r\n a.universitycode,\r\n case when a.type!='其他' then 1 else b.company_nums end AS dw_count,\r\n a.time,\r\n a.type,\r\n a.level,\r\n a.starttime,\r\n a.large_sponsor\r\nFROM\r\n dw_jobfair_company_91job_new a\r\n left join clf_jobfair_all b on a.jid=b.jid\r\nGROUP BY\r\n a.jid,\r\n a.lfid,\r\n a.companyid,\r\n a.universityid"],
 ['st宣讲会职位申请统计表',
  'st_teachin_bookjob_91job_new',
  'replace into st_teachin_bookjob_91job_new\r\nselect teachin_universityname,xid,universityid,universityname,universityprovince,universitycity,universitycategory,universitycode,jid,cid,graduate_year,education,department,major,class,uid,realname,sid,companyname,industry,nature,company_category,scale,province,city,jobname,type,skill,status\r\nfrom dw_teachin_bookjob_91job_new\r\nwhere is_apply=1;'],
 ['st招聘公告职位申请统计表',
  'st_campus_bookjob_91job_new',
  'replace into st_campus_bookjob_91job_new\r\nselect campus_universityname,pid,universityid,universityname,universityprovince,universitycity,universitycategory,universitycode,jid,cid,graduate_year,education,department,major,class,uid,realname,sid,companyname,industry,nature,company_category,scale,province,city,jobname,type,skill,status\r\nfrom dw_campus_bookjob_91job_new\r\nwhere is_apply=1;'],
 ['st招聘会职位申请统计表',
  'st_jobfair_bookjob_91job_new',
  'replace into st_jobfair_bookjob_91job_new\r\nselect jobfair_universityname,lfid,jid,universityid,universityname,universityprovince,universitycity,universitycategory,universitycode,jobid,cid,graduate_year,education,department,major,class,uid,realname,sid,companyname,industry,nature,company_category,scale,province,city,jobname,type,skill,status\r\nfrom dw_jobfair_bookjob_91job_new \r\nwhere is_apply=1;'],
 ['st宣讲会统计表',
  'st_teachin_91job_new',
  'REPLACE INTO st_teachin_91job_new\r\nSELECT\r\nxid,\r\nSTATUS,\r\nauthor_type,\r\nauthor_typeid,\r\nuniversityname,\r\nuniversityprovince,\r\nuniversitycity,\r\nuniversitycategory,\r\nuniversitycode,\r\ncompany_id,\r\ndw_province,\r\ndw_city,\r\ncompany_name,\r\nindustry,\r\ncompany_category,\r\nnature,\r\nscale,\r\ncity,\r\naddress,\r\nstarttime,\r\nendtime,\r\ndateline,\r\nupdateline,\r\ntype,\r\nsum( ifnull( bm_count, 0 ) ) AS bm_count,\r\nsum( ifnull( ll_count, 0 ) ) AS ll_count,\r\nsum( job_num ) AS job_num,\r\nsum( ( num   ) ) AS num,\r\nsum( apply_num ) AS apply_num,\r\nsum( ifnull( apply_pp_num, 0 ) ) AS apply_pp_num,\r\nsum( collect_num ) AS collect_num,\r\nsum( invite_num ) AS invite_num,\r\nsum( attend_num ) AS attend_num \r\nFROM\r\n dw_teachin_all_91job_new \r\nGROUP BY\r\n xid,\r\n STATUS,\r\n author_typeid,\r\n universityname,\r\n universityprovince,\r\n universitycity,\r\n universitycategory,\r\n universitycode,\r\n company_id,\r\n dw_province,\r\n dw_city,\r\n company_name,\r\n industry,\r\n company_category,\r\n nature,\r\n scale,\r\n address,\r\n starttime,\r\n endtime,\r\n dateline,\r\n updateline,\r\n type;'],
 ['st招聘公告统计表',
  'st_campus_91job_new',
  'replace into st_campus_91job_new\r\nSELECT\r\n pid,\r\n STATUS,\r\n author_type,\r\n author_typeid,\r\n universityname,\r\n universityprovince,\r\n universitycity,\r\n universitycategory,\r\n universitycode,\r\n title,\r\n starttime,\r\n endtime,\r\n dateline,\r\n updateline,\r\n dw_province,\r\n dw_city,\r\n company_name,\r\n industry,\r\n nature,\r\n scale,\r\n company_category AS category,\r\n company_id,\r\n sum( ifnull( sc_count, 0 ) ) AS sc_count,\r\n sum( ifnull( ll_count, 0 ) ) AS ll_count,\r\n sum( job_num ) AS job_num,\r\n sum( ( num ) ) AS num,\r\n sum( apply_num ) AS apply_num,\r\n sum( ifnull( apply_pp_num, 0 ) ) AS apply_pp_num,\r\n sum( collect_num ) AS collect_num,\r\n sum( invite_num ) AS invite_num,\r\n school_status AS school_status\r\nFROM\r\n dw_campus_all_91job_new \r\nGROUP BY\r\n pid,\r\n STATUS,\r\n author_type,\r\n author_typeid,\r\n universityname,\r\n universityprovince,\r\n universitycity,\r\n universitycategory,\r\n universitycode,\r\n title,\r\n starttime,\r\n endtime,\r\n dateline,\r\n updateline,\r\n dw_province,\r\n dw_city,\r\n company_name,\r\n industry,\r\n nature,\r\n scale,\r\n company_category,\r\n company_id,\r\n school_status;'],
 ['st招聘会统计表',
  'st_jobfair_91job_new',
  "replace into st_jobfair_91job_new\r\nSELECT\r\na.jid,\r\n a.lfid,\r\n a.sector,\r\n a.STATUS,\r\n a.author_typeid,\r\n a.type,\r\n a.title,\r\n a.universityname,\r\n a.universityprovince,\r\n a.universitycity,\r\n a.universitycategory,\r\n a.universitycode,\r\n a.starttime,\r\n a.dateline,\r\n a.updateline,\r\n a.LEVEL,\r\n a.large_sponsor,\r\n a.large_undertake,\r\n a.author_type,\r\n  case when a.type!='其他' then  sum( ( a.dw_count ) ) else b.company_nums end  AS dw_count,\r\n ( a.bm_count ),\r\n ( a.ll_count ),\r\n  case when a.type!='其他' then  sum( ( a.job_num ) )   else b.job_nums end  AS job_num,\r\n  case when a.type!='其他' then  sum( ( a.num ) )   else b.student_nums end  AS num,\r\n case when a.type!='其他' then  sum(( a.apply_num ) )  else b.resume_nums end AS apply_num,\r\n ( a.apply_pp_num  )  AS apply_pp_num,\r\n sum( ( a.collect_num  ) ) AS collect_num,\r\n sum( ( a.invite_num  ) ) AS invite_num,\r\n case when a.type!='其他' then ( a.bm_count ) + sum( ( a.apply_pp_num   ) ) else  b.student_nums  end AS attend_num \r\nFROM\r\n dw_jobfair_all_91job_new a\r\n left join clf_jobfair_all b on a.jid=b.jid\r\nGROUP BY\r\n a.jid,\r\n a.lfid,\r\n a.sector,\r\n a.STATUS,\r\n a.author_typeid,\r\n a.type,\r\n a.title,\r\n a.universityname,\r\n a.universityprovince,\r\n a.universitycity,\r\n a.universitycategory,\r\n a.universitycode,\r\n a.starttime,\r\n a.dateline,\r\n a.updateline,\r\n a.LEVEL,\r\n a.large_sponsor,\r\n a.large_undertake,\r\n a.author_type,\r\n a.bm_count,\r\n a.ll_count,\r\n a.apply_pp_num;"],
 ['st咨询预约统计表',
  'st_consult_91job_new',
  'replace into st_consult_91job_new\r\nselect id,universityid,universityname,universitycode,uid,major,education,department,class,xb,realname,tid,tname,type,secret,question,free_time,dateline,changeguider \r\nfrom dw_consult_91job_new;'],
 ['st上报信息统计表',
  'st_university_affair_reported_91job_new',
  'replace into st_university_affair_reported_91job_new\r\nselect universityid,universityname,universityprovince,universitycity,universitycategory,universitycode,graduate_year,\r\ncount(sid) as num,\r\ncount(case when jinfo_sbzt is not null then sid else null end) as jinfo_num,\r\ncount(case when sinfo_sbzt is not null then sid else null end) as sinfo_num\r\nfrom dw_university_affair_reported_91job_new\r\ngroup by universityid,universityname,universityprovince,universitycity,universitycategory,universitycode,graduate_year'],
 ['st职位需求统计表',
  'st_job_demand_91job_new',
  "replace into st_job_demand_91job_new\r\nSELECT \r\n\tauthor_type,\r\n\tSTATUS,\r\n\tcompanyid,\r\n\tcompany_name,\r\n\tprovince,\r\n\tcity,\r\n\tindustry,\r\n\tcompany_category,\r\n\tnature,\r\n\tscale,\r\n\ttype,\r\n\tskill,\r\n\tsjgzsf,\r\n\tsjgzcs,\r\n\tsjgzqx,\r\n\t1 AS job_num,\r\n\tnum,\r\n\teducation,\r\n\tsalary,\r\n\t(\r\nCASE\r\n\t\r\n\tWHEN salary LIKE '%-%' THEN\r\n\t(\r\n\tsubstr( salary, 1, instr( salary, '-' ) - 1 ) + substr( salary, instr( salary, '-' ) + 1, length( salary ) ) \r\n\t) / 2 \r\n\tWHEN salary = '1500以下' THEN\r\n\t1500 \r\n\tWHEN salary = '15000及以上' THEN\r\n\t15000 \r\nEND \r\n\t) AS salary_mean,\r\n\t( ( yearly_salary )) AS year_salary_mean,\r\n\tlang,\r\n\tage,\r\n\tYEAR ( dateline ) AS YEAR,\r\nCASE\r\n\t\t\r\n\t\tWHEN MONTH ( dateline ) >= 9 THEN\r\n\t\tYEAR ( dateline ) + 1 \r\n\t\tWHEN MONTH ( dateline ) < 7 THEN\r\n\t\tYEAR ( dateline ) \r\n\tEND,\r\n\tmonth(dateline) AS month,\r\n\tdateline,\r\n\tupdatetime\r\n\tFROM\r\n\t\tdw_job_all_91job_new ;"],
 ['st专业需求统计表',
  'st_major_demand_91job_new',
  "replace into st_major_demand_91job_new\r\n\r\nSELECT\r\nnull,\r\n\tauthor_type,\r\n\tSTATUS,\r\n\ta.companyid,\r\n\ta.company_name,\r\n\ta.province,\r\n\ta.city,\r\n\ta.industry,\r\n\ta.company_category,\r\n\ta.nature,\r\n\ta.scale,\r\n\ta.type,\r\n\ta.skill,\r\n\ta.sjgzsf,\r\n\ta.sjgzcs,\r\n\ta.sjgzqx,\r\n\tsubstring_index(\r\n\tsubstring_index( SUBSTRING_INDEX( a.d_major, ',', 3 ), ',', b.help_topic_id + 1 ),\r\n\t',',\r\n\t- 1 \r\n\t) AS d_major,\r\n\t1 AS num,\r\n\t(\r\nCASE\r\n\t\r\n\tWHEN salary LIKE '%-%' THEN\r\n\t(\r\n\tsubstr( salary, 1, instr( salary, '-' ) - 1 ) + substr( salary, instr( salary, '-' ) + 1, length( salary ) ) \r\n\t) / 2 \r\n\tWHEN salary = '1500以下' THEN\r\n\t1500 \r\n\tWHEN salary = '15000及以上' THEN\r\n\t15000 \r\nEND \r\n\t) AS salary_mean,\r\n\tYEAR ( a.dateline ) AS YEAR,\r\nCASE\r\n\t\t\r\n\t\tWHEN MONTH ( a.dateline ) >= 9 THEN\r\n\t\tYEAR ( a.dateline ) + 1 \r\n\t\tWHEN MONTH ( a.dateline ) < 7 THEN\r\n\t\tYEAR ( a.dateline ) \r\n\tEND AS recruitment_year ,\r\n\tmonth(a.dateline) as month,\r\n\ta.education,\r\n\ta.num as job_num\r\nFROM\r\n\tdw_job_all_91job_new a\r\n\tJOIN help_topic b ON b.help_topic_id < (\r\n\tlength( SUBSTRING_INDEX( a.d_major, ',', 3 ) ) - length( REPLACE ( SUBSTRING_INDEX( a.d_major, ',', 3 ), ',', '' ) ) + 1 \r\n);"],
 ['st职位需求统计表（校）',
  'st_job_demand_xj_91job_new',
  "replace into st_job_demand_xj_91job_new\r\nSELECT\r\n\tauthor_type,\r\n\tSTATUS,\r\n\tuniversityid,\r\n\tuniversityname,\r\n\tuniversityprovince,\r\n\tuniversitycity,\r\n\tuniversitycategory,\r\n\tuniversitycode,\r\n\tcompanyid,\r\n\tcompany_name,\r\n\tprovince,\r\n\tcity,\r\n\tindustry,\r\n\tcompany_category,\r\n\tnature,\r\n\tscale,\r\n\ttype,\r\n\tskill,\r\n\tsjgzsf,\r\n\tsjgzcs,\r\n\tsjgzqx,\r\n\t1 AS job_num,\r\n\tnum,\r\n\teducation,\r\n\tsalary,\r\n\t(\r\nCASE\r\n\t\r\n\tWHEN salary LIKE '%-%' THEN\r\n\t(\r\n\tsubstr( salary, 1, instr( salary, '-' ) - 1 ) + substr( salary, instr( salary, '-' ) + 1, length( salary ) ) \r\n\t) / 2 \r\n\tWHEN salary = '1500以下' THEN\r\n\t1500 \r\n\tWHEN salary = '15000及以上' THEN\r\n\t15000 \r\nEND \r\n\t) AS salary_mean,\r\n\t ( yearly_salary ) AS year_salary_mean,\r\n\tlang,\r\n\tage,\r\n\tYEAR ( dateline ),\r\nCASE\r\n\t\t\r\n\t\tWHEN MONTH ( dateline ) >= 9 THEN\r\n\t\tYEAR ( dateline ) + 1 \r\n\t\tWHEN MONTH ( dateline ) < 7 THEN\r\n\t\tYEAR ( dateline ) \r\n\tEND AS recruitment_year,\r\n\tmonth(dateline) as month\r\nFROM\r\ndw_job_all_91job_new;"],
 ['st专业需求统计表（校）',
  'st_major_demand_xj_91job_new',
  "REPLACE INTO st_major_demand_xj_91job_new \r\nSELECT\r\nnull,\r\na.author_type,\r\na.STATUS,\r\na.universityid,\r\na.universityname,\r\na.universityprovince,\r\na.universitycity,\r\na.universitycategory,\r\na.universitycode,\r\na.companyid,\r\na.company_name,\r\na.province,\r\na.city,\r\na.industry,\r\na.company_category,\r\na.nature,\r\na.scale,\r\na.type,\r\na.skill,\r\na.sjgzsf,\r\na.sjgzcs,\r\na.sjgzqx,\r\nsubstring_index(\r\nsubstring_index( SUBSTRING_INDEX( a.d_major, ',', 3 ), ',', b.help_topic_id + 1 ),\r\n',',\r\n- 1 \r\n) AS d_major,\r\n1 AS num,\r\n(\r\nCASE\r\n\t\r\n\tWHEN salary LIKE '%-%' THEN\r\n\t(\r\n\tsubstr( salary, 1, instr( salary, '-' ) - 1 ) + substr( salary, instr( salary, '-' ) + 1, length( salary ) ) \r\n\t) / 2 \r\n\tWHEN salary = '1500以下' THEN\r\n\t1500 \r\n\tWHEN salary = '15000及以上' THEN\r\n\t15000 \r\nEND \r\n\t) AS salary_mean,\r\n\tYEAR ( a.dateline ) AS YEAR,\r\nCASE\r\n\t\t\r\n\t\tWHEN MONTH ( a.dateline ) >= 9 THEN\r\n\t\tYEAR ( a.dateline ) + 1 \r\n\t\tWHEN MONTH ( a.dateline ) < 7 THEN\r\n\t\tYEAR ( a.dateline ) \r\n\tEND AS recruitment_year,\r\n\tmonth(a.dateline) as month,\r\n\ta.education,\r\n\ta.num as job_num\r\nFROM\r\n\tdw_job_all_91job_new a\r\n\tJOIN help_topic b ON b.help_topic_id < (\r\n\tlength( SUBSTRING_INDEX( a.d_major, ',', 3 ) ) - length( REPLACE ( SUBSTRING_INDEX( a.d_major, ',', 3 ), ',', '' ) ) + 1 \r\n);"]]

## 就业质量指数

In [167]:
# 数据来源：2022届派遣调研 剔除专业人数少于10人的专业
import sqlalchemy
db = sqlalchemy.create_engine(f"mysql+pymysql://yjy_user:Yjy123456@am-wz9el267w54i2r7ip131930o.ads.aliyuncs.com:3306/dw_database")

In [171]:
import pandas as pd
sql='''select dy_yxmc `学校名称`,dy_xx `学院`,dy_zy `专业`,dy_xl `学历`,`毕业去向落实率`,`培训机会`,`单位知名度`,`晋升空间`,`工作稳定性`,`工作压力`,`对用人单位综合满意度`,`工作环境`,`工作自主性`,`就业满意度`,`就业专业相关度`,`专业就业前景预期`,`职位期待匹配度`,`社会保障度`,`就业公平性`,`平均薪资`,`就业稳定度`  from
(select dy_yxmc,dy_xx,dy_zy,dy_xl,
round(sum(case when dy_pxjh in ('5','4','3') then 1 else 0 end)/count(dy_pxjh),4) `培训机会`,
round(sum(case when dy_dwzmd in ('5','4','3') then 1 else 0 end)/count(dy_dwzmd),4) `单位知名度`,
round(sum(case when dy_jskj in ('5','4','3') then 1 else 0 end)/count(dy_jskj),4) `晋升空间`,
round(sum(case when dy_gzwdx in ('5','4','3') then 1 else 0 end)/count(dy_gzwdx),4) `工作稳定性`,
round(sum(case when dy_gzyl in ('5','4','3') then 1 else 0 end)/count(dy_gzyl),4) `工作压力`,
round(sum(case when dy_dwzhmyd in ('5','4','3','满','非','比') then 1 else 0 end)/count(dy_dwzhmyd),4) `对用人单位综合满意度`,
round(sum(case when dy_gzhj in ('5','4','3') then 1 else 0 end)/count(dy_gzhj),4) `工作环境`,
round(sum(case when dy_gzzzx in ('5','4','3') then 1 else 0 end)/count(dy_gzzzx),4) `工作自主性`,
round(sum(case when dy_jymyd in ('5','4','3') then 1 else 0 end)/count(dy_jymyd),4) `就业满意度`,
round(sum(case when dy_jyzyxgd in ('5','4','3') then 1 else 0 end)/count(dy_jyzyxgd),4) `就业专业相关度`,
round(sum(case when dy_jyqjyq in ('5','4','3') then 1 else 0 end)/count(dy_jyqjyq),4) `专业就业前景预期`,
round(sum(case when dy_zwppd in ('5','4','3') then 1 else 0 end)/count(dy_zwppd),4) `职位期待匹配度`,
round(avg(cast(dy_jypjxz as numeric)),2) `平均薪资`,
round(sum(case when dy_lzcs regexp '没有换工作单位|0次' then 1 else 0 end)/count(dy_lzcs),4) `就业稳定度`,
round(sum(case when dy_shbz !='不提供社保和公积金' then 1 else 0 end)/count(dy_shbz),4) `社会保障度`,
round(sum(case when dy_jyqs in ('不存在就业歧视','没有遇到过就业歧视') then 1 else 0 end)/sum(case when dy_jyqs in ('不存在就业歧视','没有遇到过就业歧视') then 1 
when dy_jyqs not regexp '就业歧视' then 1 else 0 end),4) `就业公平性`
from dw_2022_s_short_survey_hunan_province_auto
group by dy_yxmc,dy_xx,dy_zy) b
join 
(select xxmc,yx,zy,xl_c,count(*) as num,round(sum(case when lsbyqx = '是' then 1 else 0 end)/count(*),4) `毕业去向落实率`,
round(sum(case when sj500q = '是' or zg500q = '是' then 1 else 0 end)/count(*),4) `五百强就业率`,
round(sum(case when jylbfl = '国家、地方项目' then 1 else 0 end)/count(*),4) `基层就业率`
from dw_s_employment_auto
where bynd = 2022
group by xxmc,yx,zy,xl_c
)a on a.xxmc = b.dy_yxmc and a.zy = b.dy_zy and a.xl_c=b.dy_xl
where num>10 and dy_xx is not null

union

select dy_xxmc `学校名称`,dy_yx `学院`,dy_zy `专业`,dy_xl `学历`,`毕业去向落实率`,`培训机会`,`单位知名度`,`晋升空间`,`工作稳定性`,`工作压力`,`对用人单位综合满意度`,`工作环境`,`工作自主性`,`就业满意度`,`就业专业相关度`,`专业就业前景预期`,`职位期待匹配度`,`社会保障度`,`就业公平性`,`平均薪资`,`就业稳定度`  from
(select dy_xxmc,dy_yx,dy_zy,dy_xl,
round(sum(case when dy_pxjh in ('5','4','3') then 1 else 0 end)/count(dy_pxjh),4) `培训机会`,
round(sum(case when dy_dwzmd in ('5','4','3') then 1 else 0 end)/count(dy_dwzmd),4) `单位知名度`,
round(sum(case when dy_jskj in ('5','4','3') then 1 else 0 end)/count(dy_jskj),4) `晋升空间`,
round(sum(case when dy_gzwdx in ('5','4','3') then 1 else 0 end)/count(dy_gzwdx),4) `工作稳定性`,
round(sum(case when dy_gzyl in ('5','4','3') then 1 else 0 end)/count(dy_gzyl),4) `工作压力`,
round(sum(case when dy_dwzhmyd in ('5','4','3','满','非','比') then 1 else 0 end)/count(dy_dwzhmyd),4) `对用人单位综合满意度`,
round(sum(case when dy_gzhj in ('5','4','3') then 1 else 0 end)/count(dy_gzhj),4) `工作环境`,
round(sum(case when dy_gzzzx in ('5','4','3') then 1 else 0 end)/count(dy_gzzzx),4) `工作自主性`,
round(sum(case when dy_jymyd in ('5','4','3') then 1 else 0 end)/count(dy_jymyd),4) `就业满意度`,
round(sum(case when dy_jyzyxgd in ('5','4','3') then 1 else 0 end)/count(dy_jyzyxgd),4) `就业专业相关度`,
round(sum(case when dy_jyqjyq in ('5','4','3') then 1 else 0 end)/count(dy_jyqjyq),4) `专业就业前景预期`,
round(sum(case when dy_zwppd in ('5','4','3') then 1 else 0 end)/count(dy_zwppd),4) `职位期待匹配度`,
round(avg(cast(dy_jypjxz as numeric)),2) `平均薪资`,
round(sum(case when dy_lzcs regexp '没有换工作单位|0次' then 1 else 0 end)/count(dy_lzcs),4) `就业稳定度`,
round(sum(case when dy_shbz !='没有任何社保保障' then 1 else 0 end)/count(dy_shbz),4) `社会保障度`,
round(sum(case when dy_jyqs in ('不存在就业歧视','没有遇到过就业歧视') then 1 else 0 end)/sum(case when dy_jyqs in ('不存在就业歧视','没有遇到过就业歧视') then 1 
when dy_jyqs not regexp '就业歧视' then 1 else 0 end),4) `就业公平性`
from dw_2022_s_short_survey_auto
group by dy_xxmc,dy_yx,dy_zy) b
join 
(select xxmc,yx,zy,xl_c,count(*) as num,round(sum(case when lsbyqx = '是' then 1 else 0 end)/count(*),4) `毕业去向落实率`
from dw_s_employment_auto
where bynd = 2022
group by xxmc,yx,zy,xl_c
)a on a.xxmc = b.dy_xxmc and a.zy = b.dy_zy and a.xl_c=b.dy_xl
where num>10 and dy_yx is not null
'''
data=pd.read_sql(con=db,sql=sql)

In [176]:
len(data['专业'].unique())

795

In [151]:
import pandas as pd
# 创建一个DataFrame
start = 4
from factor_analyzer import FactorAnalyzer

data_all =False
df = data.iloc[:,start:]

# 执行Max-Min归一化
df = (df - df.min()) / (df.max() - df.min())

import numpy as np
fa = FactorAnalyzer(n_factors=2, rotation='varimax')
# 在数据中平移填补缺失值
df = df.fillna(df.mean())
# 将数据拟合到因子分析模型中
fa.fit(df)

# 从因子分析模型中提取公共因子
eigenvalues, _ = fa.get_eigenvalues()
common_factors = sum(eigenvalues > 1)

print(f'{xl}公共因子数量:', common_factors)

from factor_analyzer import FactorAnalyzer

# 读取数据
data1 = df

# 填充缺失值
data1.fillna(data.mean(), inplace=True)

# 设置因子数
n_factors = common_factors

# 因子分析
fa = FactorAnalyzer(n_factors=n_factors, method='ml', rotation='varimax')
fa.fit(data1)

# 获取旋转载荷矩阵
loadings = fa.loadings_

data1 = pd.DataFrame(loadings).T
data1.columns=df.columns

data1.loc[len(data1)] = pd.Series()

if isinstance( data_all,bool):data_all=data1
else:
    data_all=pd.concat([data_all,data1])

data_all.to_excel('E:/桌面/载荷矩阵.xlsx')

毕业研究生公共因子数量: 4

<ipython-input-151-e788a6fb8688>:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data1.fillna(data.mean(), inplace=True)
<ipython-input-151-e788a6fb8688>:46: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  data1.loc[len(data1)] = pd.Series()

In [126]:
dat

,毕业去向落实率,培训机会,单位知名度,晋升空间,工作稳定性,工作压力,对用人单位综合满意度,工作环境,工作自主性,就业满意度,就业专业相关度,专业就业前景预期,职位期待匹配度,社会保障度,就业公平性,平均薪资,就业稳定度,升学率,五百强就业率,基层就业率
0,0.911496,0.928600,0.785700,0.750000,0.928600,0.67860,0.892900,0.857100,0.785700,0.8000,0.607100,0.710500,0.857100,1.000000,0.35480,0.272215,0.964300,0.045489,0.101896,0.0000
1,0.828623,0.850000,0.850000,0.850000,0.900000,0.70000,0.950000,0.950000,0.850000,1.0000,0.950000,1.000000,1.000000,0.800000,0.19050,0.114868,0.650000,0.000000,0.118410,0.0323
2,0.867191,0.887600,0.955100,0.831500,0.910100,0.88760,0.898900,0.910100,0.876400,0.8082,0.650800,0.793700,0.746000,0.741600,0.57140,0.204844,0.775300,0.000000,0.198777,0.0094
3,0.765193,0.930200,0.930200,0.918600,0.895300,0.79070,0.930200,0.907000,0.918600,0.9504,0.825200,0.873800,0.902900,0.965100,0.47710,0.284977,0.732600,0.156649,0.155474,0.0276
4,0.777412,0.875000,0.875000,0.875000,0.875000,0.75000,1.000000,0.875000,0.875000,0.7778,0.555600,0.888900,0.777800,0.500000,0.40000,0.162147,0.875000,0.000000,0.024832,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3817,0.918296,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.6667,1.000000,0.000000,0.000000,1.000000,0.00000,0.216228,1.000000,0.153813,0.266544,0.0128
3818,0.888122,1.000000,1.000000,0.750000,1.000000,0.50000,1.000000,0.750000,0.750000,1.0000,1.000000,1.000000,0.500000,1.000000,0.40000,0.364885,1.000000,0.143558,0.032171,0.0000
3819,0.896303,0.833300,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,0.8571,0.666700,1.000000,1.000000,0.833300,0.83330,0.211714,1.000000,0.000000,0.000000,0.0000
3820,0.922227,1.000000,0.750000,1.000000,1.000000,1.00000,1.000000,0.750000,1.000000,0.8333,0.600000,1.000000,0.600000,0.250000,0.75000,0.210811,0.500000,0.212829,0.059694,0.0000
3821,0.913833,0.845665,0.875529,0.780811,0.868835,0.70167,0.896384,0.879669,0.837526,1.0000,0.684507,0.688824,0.767214,0.866432,0.35063,0.213352,0.797185,0.235846,0.033028,0.0000

In [79]:
df=df.drop(columns=['就业公平性'])
df

,毕业去向落实率,培训机会,单位知名度,晋升空间,工作稳定性,工作压力,对用人单位综合满意度,工作环境,工作自主性,就业满意度,就业专业相关度,专业就业前景预期,职位期待匹配度,社会保障度,平均薪资,就业稳定度,升学率,五百强就业率
0,0.7806,0.7714,0.7286,0.7000,0.7000,0.6857,0.8571,0.8429,0.7143,0.7909,0.4000,0.7059,0.6143,0.6857,4493.23,0.5429,0.0051,0.0561
1,0.9187,0.7234,0.8511,0.7021,0.6809,0.6383,0.7660,0.8723,0.8723,0.6389,0.5106,0.6111,0.7021,0.7234,4521.66,0.5532,0.0732,0.0163
2,0.8879,0.8417,0.8167,0.7083,0.8333,0.7417,0.8500,0.8750,0.8333,0.7665,0.6083,0.5150,0.6833,0.7500,3470.95,0.6417,0.1336,0.0172
3,0.9814,0.8288,0.8108,0.7928,0.8018,0.5766,0.8829,0.9099,0.8468,0.8112,0.5315,0.5882,0.7117,0.7387,4171.49,0.6396,0.0967,0.0297
4,0.7156,0.8478,0.7826,0.7391,0.8043,0.5870,0.8913,0.8261,0.8043,0.8364,0.5435,0.5625,0.6957,0.8261,4424.33,0.7174,0.0642,0.0092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3820,0.9091,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.8571,0.4000,0.8000,1.0000,1.0000,3200.40,1.0000,0.0000,0.0909
3821,0.5333,1.0000,1.0000,1.0000,1.0000,0.0000,1.0000,1.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.0000,5501.00,1.0000,0.0000,0.0000
3822,0.9681,0.8571,0.8571,0.8571,0.8571,1.0000,1.0000,0.8571,1.0000,1.0000,0.7778,1.0000,0.7778,1.0000,5723.22,0.5714,0.0532,0.2447
3823,0.6000,1.0000,0.6667,1.0000,1.0000,0.8333,0.8333,1.0000,0.8333,1.0000,1.0000,0.8333,1.0000,0.8333,6001.00,0.8333,0.0400,0.0000
3824,0.9444,0.6667,0.6667,0.6667,1.0000,0.6667,1.0000,1.0000,1.0000,0.8000,0.7500,1.0000,0.7500,0.6667,3501.00,0.6667,0.0000,0.0556

In [80]:
# 熵值法
def cal_weight(data):
    column=data.shape[1]
    row=data.shape[0]
    value=data.values
    p= np.array([[0.0 for i in range(column)] for i in range(row)])     
    for i in range(column):
        p[:,i]=value[:,i]/np.sum(value[:,i],axis=0)
    e=-1/np.log(row)*sum(p*np.log(p+1e-10))      #计算熵值
    g=1-e     # 计算一致性程度
    w=[round(x,4) for x in g/sum(g)]    #计算权重
    return w

In [149]:
group =[]
for i in data['学历'].unique():
    df = data[data['学历']==i].drop(columns=['升学率','就业公平性','五百强就业率','基层就业率'])
    df = df.iloc[:,start:]
    df.fillna(df.mean(),inplace=True)
    group.append([i,*(cal_weight(df))])
pd.DataFrame(group,columns=data.drop(columns=['升学率','就业公平性','五百强就业率','基层就业率']).iloc[:,start-1:].columns).to_excel('E:/桌面/权重.xlsx')

In [83]:
pd.DataFrame(group,columns=data.iloc[:,3:].drop(columns=['就业公平性']).columns)

,学历,毕业去向落实率,培训机会,单位知名度,晋升空间,工作稳定性,工作压力,对用人单位综合满意度,工作环境,工作自主性,就业满意度,就业专业相关度,专业就业前景预期,职位期待匹配度,社会保障度,平均薪资,就业稳定度,升学率,五百强就业率
0,专科毕业生,0.0031,0.0083,0.0070,0.0167,0.0072,0.0173,0.0054,0.0064,0.0075,0.0070,0.0517,0.0205,0.0219,0.0186,0.0081,0.0314,0.2857,0.4761
1,本科毕业生,0.0050,0.0090,0.0066,0.0148,0.0070,0.0328,0.0054,0.0085,0.0118,0.0116,0.0384,0.0451,0.0170,0.0100,0.0226,0.0091,0.3065,0.4387
2,毕业研究生,0.0052,0.0085,0.0084,0.0154,0.0047,0.0493,0.0066,0.0112,0.0141,0.0103,0.0216,0.0371,0.0121,0.0026,0.0218,0.0134,0.4587,0.2989

In [43]:
pd.DataFrame(group,columns=data.iloc[:,3:].drop(columns=['就业公平性']).columns).to_excel('E:/桌面/lxk.xlsx')

# 草稿本

In [ ]:
用线程控制图像自动化那个！

In [3]:
想一下如果是单纯的encode就在外面decode然后也不需要push
PYTHONPATH设置一下

KeyboardInterrupt: Interrupted by user

In [2]:
string='''`毕业去向落实率`,`培训机会`,`单位知名度`,`晋升空间`,`工作稳定性`,`工作压力`,`对用人单位综合满意度`,`工作环境`,`工作自主性`,`就业满意度`,`就业专业相关度`,`专业就业前景预期`,`职位期待匹配度`,`社会保障度`
'''.split(',')
for x in [f'ifnull(`{x}`,0) as,' for x in string]:
    print(x,end='')

ifnull(``毕业去向落实率``,0),ifnull(``培训机会``,0),ifnull(``单位知名度``,0),ifnull(``晋升空间``,0),ifnull(``工作稳定性``,0),ifnull(``工作压力``,0),ifnull(``对用人单位综合满意度``,0),ifnull(``工作环境``,0),ifnull(``工作自主性``,0),ifnull(``就业满意度``,0),ifnull(``就业专业相关度``,0),ifnull(``专业就业前景预期``,0),ifnull(``职位期待匹配度``,0),ifnull(``社会保障度`
`,0),

In [ ]:
round((a.`社会保障度`*b.`社会保障度`+a.`平均薪资`*b.`平均薪资`+a.`就业稳定度`*b.`就业稳定度`)*100,2) `综合评分`

In [232]:
import lxk
lxk.encode()

KeyboardInterrupt: Interrupted by user

In [64]:
string='''a.`培训机会`sbb.`培训机会`,a.`单位知名度`sbb.`单位知名度`,a.`晋升空间`sbb.`晋升空间`,a.`工作稳定性`sbb.`工作稳定性`,a.`对用人单位综合满意度`sbb.`对用人单位综合满意度`,a.`工作环境`sbb.`工作环境`,a.`工作自主性`sbb.`工作自主性`,a.`就业满意度`sbb.`就业满意度`,a.`就业专业相关度`sbb.`就业专业相关度`,a.`职位期待匹配度`sbb.`职位期待匹配度`,a.`毕业去向落实率`sbb.`毕业去向落实率`,a.`专业就业前景预期`sbb.`专业就业前景预期`,a.`社会保障度`sbb.`社会保障度`,a.`平均薪资`sbb.`平均薪资`,a.`就业稳定度`sbb.`就业稳定度`'''

In [65]:
re.sub('sbb.','*100 ',string)

'a.`培训机会`*100 `培训机会`,a.`单位知名度`*100 `单位知名度`,a.`晋升空间`*100 `晋升空间`,a.`工作稳定性`*100 `工作稳定性`,a.`对用人单位综合满意度`*100 `对用人单位综合满意度`,a.`工作环境`*100 `工作环境`,a.`工作自主性`*100 `工作自主性`,a.`就业满意度`*100 `就业满意度`,a.`就业专业相关度`*100 `就业专业相关度`,a.`职位期待匹配度`*100 `职位期待匹配度`,a.`毕业去向落实率`*100 `毕业去向落实率`,a.`专业就业前景预期`*100 `专业就业前景预期`,a.`社会保障度`*100 `社会保障度`,a.`平均薪资`*100 `平均薪资`,a.`就业稳定度`*100 `就业稳定度`'

In [5]:
import pandas as pd

In [ ]:
能源与动力工程 100 157
水利水电工程 100 117
财务管理 100 72
道路桥梁与渡河工程（道路工程方向） 100 63
道路桥梁与渡河工程（桥梁工程方向） 100 63
给排水科学与工程 100 63
食品科学与工程 100 61
建筑学（五年制） 100 60
英语 100 60
无机非金属材料工程 100 59
视觉传达设计 100 58
测控技术与仪器 100 58
测绘工程 100 57
土木工程 100 56
新能源科学与工程 100 56
信息与计算科学 100 55
工程管理 100 55
日语 100 54
建筑环境与能源应用工程 100 48
产品设计 100 44
纺织工程 100 43
安全工程 100 39
油气储运工程 100 36
新能源科学与工程（四年制） 100 35
环境设计 100 34
城乡规划（五年制） 100 28
自动化 99 243
应用化学 99 112
电子信息科学与技术 99 110
土木工程（岩土与地下工程方向） 99 104
机械设计制造及其自动化 98 446
电气工程及其自动化 98 232
土木工程（建筑工程方向） 98 176
工商管理 98 59

In [7]:
pd.DataFrame(columns=['毕业年份','学校名称','学院','专业','学历','毕业去向落实率','培训机会','单位知名度','晋升空间','工作稳定性','工作压力','对用人单位综合满意度','工作环境','工作自主性','就业满意度','就业专业相关度','专业就业前景预期','职位期待匹配度','社会保障度''平均薪资','就业稳定度']).to_excel('E:/桌面/lxk.xlsx')

In [ ]:
window.onload=function(){
	 [...document.querySelectorAll(".signin")].forEach(i=>i.onclick=hljs.copyCode);
	 document.querySelector('.login-mark').remove()
	 document.querySelector('.login-box').remove()
}
油猴脚本油猴脚本v油猴脚本油猴脚本vv油猴脚本油猴脚本v油猴脚本油猴脚本vv