# 备忘录

In [ ]:
# 就业质量指数、简历评分模型、就业预测、重点用人单位模型标准化输出

# 练习

## 就业质量指数

In [1]:
# 数据来源：2022届派遣调研 剔除专业人数少于10人的专业
import sqlalchemy
db = sqlalchemy.create_engine(f"mysql+pymysql://yjy_user:Yjy123456@am-wz9el267w54i2r7ip131930o.ads.aliyuncs.com:3306/dw_database")

In [97]:
import pandas as pd
sql='''select dy_yxmc `学校名称`,dy_xl `学历`,dy_xx `学院`,dy_zy `专业`,`毕业去向落实率`,,`就业稳定度`,`就业满意度`,`就业相关度`,`职位匹配期待度`,`平均薪资`/max(`平均薪资`) over() `平均薪资`,`薪资满意度`,`社会保障度` from
(select dy_yxmc,dy_xx,dy_zy,dy_xl,
round(sum(case when dy_jymyd in ('5','4','3') then 1 else 0 end)/count(dy_jymyd),4) `就业满意度`,
round(sum(case when dy_jyzyxgd in ('5','4','3') then 1 else 0 end)/count(dy_jyzyxgd),4) `就业相关度`,
round(sum(case when dy_zwppd in ('5','4','3') then 1 else 0 end)/count(dy_zwppd),4) `职位匹配期待度`,
round(avg(cast(dy_jypjxz as numeric)),2) `平均薪资`,
round(sum(case when dy_xzmyd in ('5','4','3') then 1 else 0 end)/count(dy_xzmyd),4) `薪资满意度`,
round(sum(case when dy_shbz !='不提供社保和公积金' then 1 else 0 end)/count(dy_shbz),4) `社会保障度`,
round(sum(case when dy_lzcs regexp '没有换工作单位' then 1 else 0 end)/count(dy_lzcs),4) `就业稳定度`
from dw_2022_s_short_survey_hunan_province_auto
group by dy_yxmc,dy_xx,dy_zy) b
join 
(select xxmc,yx,zy,xl_c,count(*) as num,round(sum(case when lsbyqx = '是' then 1 else 0 end)/count(*),4) `毕业去向落实率` from dw_s_employment_auto
where bynd = 2022
group by xxmc,yx,zy,xl_c
)a on a.xxmc = b.dy_yxmc and a.zy = b.dy_zy and a.xl_c=b.dy_xl
where num>10 and dy_xx is not null
'''
data=pd.read_sql(con=db,sql=sql)

In [98]:
data.head()

       学校名称     学历          学院           专业   就业满意度   就业相关度  职位匹配期待度      平均薪资   薪资满意度   社会保障度   就业稳定度  毕业去向落实率
0      吉首大学  专科毕业生        师范学院         英语教育  0.7049  0.7333   0.5333  0.278803  0.5333  0.5333  0.7333   0.8358
1      吉首大学  本科毕业生       外国语学院       英语(师范)  0.6923  0.8710   0.7742  0.385957  0.7097  0.9677  0.8065   0.8276
2      吉首大学  本科毕业生  计算机科学与工程学院         软件工程  0.7619  0.8472   0.8333  0.663926  0.5694  0.9792  0.8194   0.8541
3  湖南应用技术学院  专科毕业生      经济管理学院         财务管理  0.7458  0.4839   0.5806  0.282714  0.6129  0.5484  0.6129   0.8807
4  湖南应用技术学院  本科毕业生      机电工程学院  机械设计制造及其自动化  0.8061  0.7343   0.7552  0.356807  0.6713  0.8881  0.7692   0.9740

In [101]:
df = data[data['学历']=='专科毕业生'].iloc[:,4:]
df.fillna(df.mean(),inplace=True)

In [102]:
import pandas as pd
import numpy as np
from factor_analyzer import FactorAnalyzer
# 假设您要分析的 DataFrame 名称为 `df`
# 首先需要进行因子分析
# 启用因子分析，将因子数量设置为2，并进行PCA的旋转
fa = FactorAnalyzer(n_factors=2, rotation='varimax')
# 在数据中平移填补缺失值
df = df.fillna(df.mean())
# 将数据拟合到因子分析模型中
fa.fit(df)

# 从因子分析模型中提取公共因子
eigenvalues, _ = fa.get_eigenvalues()
common_factors = sum(eigenvalues > 1)

print('公共因子数量:', common_factors)

公共因子数量: 2

In [103]:
# 因子分析,选择因子个数为4
fa = FactorAnalyzer(n_factors=4, rotation="varimax")

# 拟合数据并进行因子旋转
fa.fit(df)
data1 = pd.DataFrame(fa.loadings_).T

In [104]:
data1
# 单独拿出来就业率
就业状况，薪资待遇，人职匹配，职业发展

          0         1         2         3         4         5         6         7
0  0.218499  0.911391  0.597081 -0.037609  0.162613  0.058542  0.338621  0.070068
1  0.042735 -0.020560 -0.017948  0.958061  0.263125  0.228101  0.072919 -0.019533
2  0.509181  0.101285  0.539754  0.177231  0.580303  0.167362  0.176244  0.038952
3  0.282432 -0.036499  0.033308  0.210499  0.115565  0.670951  0.134804  0.048359

In [75]:
# 熵值法
def cal_weight(data):
    column=data.shape[1]
    row=data.shape[0]
    value=data.values
    p= np.array([[0.0 for i in range(column)] for i in range(row)])     
    for i in range(column):
        p[:,i]=value[:,i]/np.sum(value[:,i],axis=0)
    e=-1/np.log(row)*sum(p*np.log(p+1e-10))      #计算熵值
    g=1-e     # 计算一致性程度
    w=g/sum(g)     #计算权重
    return w

In [105]:
df

       就业满意度   就业相关度  职位匹配期待度      平均薪资   薪资满意度   社会保障度   就业稳定度  毕业去向落实率
0     0.7049  0.7333   0.5333  0.278803  0.5333  0.5333  0.7333   0.8358
3     0.7458  0.4839   0.5806  0.282714  0.6129  0.5484  0.6129   0.8807
7     0.7500  0.5000   0.5000  0.254537  0.5000  1.0000  0.5000   0.6786
8     0.8128  0.6503   0.7301  0.305879  0.6196  0.9202  0.8037   0.8989
9     0.8649  0.2143   0.5357  0.284427  0.4643  0.8571  0.7500   0.9167
...      ...     ...      ...       ...     ...     ...     ...      ...
1795  0.6667  0.0000   0.0000  0.236356  0.0000  1.0000  0.0000   0.9286
1796  1.0000  1.0000   1.0000  0.254537  1.0000  1.0000  0.0000   1.0000
1797  1.0000  1.0000   1.0000  0.254537  1.0000  1.0000  0.0000   0.9186
1798  0.5000  0.4444   0.4444  0.274746  0.4444  0.7778  0.5556   0.9259
1803  1.0000  0.4000   0.8000  0.254537  0.8000  0.8000  1.0000   0.9250

[764 rows x 8 columns]

In [106]:
w=cal_weight(df)

In [107]:
for i in range(len(df.columns)):
    print(df.columns[i]+f'{round(w[i],2)}')

就业满意度0.05
就业相关度0.37
职位匹配期待度0.14
平均薪资0.04
薪资满意度0.18
社会保障度0.08
就业稳定度0.11
毕业去向落实率0.03

## 重命名修改

In [119]:
import re
import pyperclip
import pyautogui
import keyboard
while True:
    keyboard.wait('ctrl')
    pyautogui.hotkey('ctrl','a')
    pyautogui.hotkey('ctrl','c')
    x=pyperclip.paste()
    x =re.findall('exists (.*?)_old',x)[0]
    y=f'''drop table if exists {x}_old;
alter table {x} rename to {x}_old;
alter table {x}_new rename to {x};'''
    pyperclip.copy(y)
    pyautogui.hotkey('ctrl','v')

IndexError: list index out of range

# 草稿本

In [43]:
import lxk
lxk.encode()

KeyboardInterrupt: Interrupted by user

In [ ]:
window.onload=function(){
	 [...document.querySelectorAll(".signin")].forEach(i=>i.onclick=hljs.copyCode);
	 document.querySelector('.login-mark').remove()
	 document.querySelector('.login-box').remove()
}
油猴脚本